.top5 {
  padding-top: 5px;
}
.top10 {
  padding-top: 10px;
}
.mar-left {
  margin-left: 15px;
}
.item_color {
  color: #999;
}
.item_box2 {
  border: 1px solid #eee;
  background: #fff;
  border-radius: 5px;
  margin-top: 15px;
  box-shadow: 0 2px 2px #ccc;
}
.box {
  background: #fff;
  margin-bottom: 15px;
  border: 0;
  box-shadow: 0 2px 2px #ccc;
}
section {
  padding: 30px 0 !important;
}
.myapply_item_box2_right {
  text-align: right;
}
.wrapper {
  background-color: #EEEEEE;
  min-height: 550px;
}
.wrapper .myresume-content .header_left .item_header_left {
  min-height: 60px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 2px #ccc;
  margin-bottom: 10px;
  padding: 14px;
  font-size: 22px;
}
.wrapper .myresume-content .header_left .item_header_left .item_header_left_l {
  padding: 7px 5px 0 22px;
  width: auto;
  font-weight: bold;
}
.wrapper .myresume-content .header_left .item_header_left .item_header_left_r {
  padding: 0px;
}
.wrapper .myresume-content .header_left .item_header_left .item_header_left_r select {
  border: 0px solid white;
  color: #f7941d;
}
.wrapper .myresume-content .header_left .item_header_left .item_header_left_r a {
  border: 0px solid white;
}
.wrapper .myresume-content .header_left .item_header_left .box_left_right {
  text-align: right;
}
.wrapper .myresume-content .header_left .item_header_left .box_left_right .btn-success {
  color: #797777;
  background-color: #fff;
  border-color: #fff;
}
.wrapper .myresume-content .header_left .item_header_left .box_left_right .dropdown-menu li span {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
}
.wrapper .myresume-content .header_left .item_header_left .box_left_right .dropdown-menu li span:hover {
  background: #eee;
}
.wrapper .myresume-content .footer_left {
  text-align: center;
  border-top: 2px solid #00b9f2;
  clear: both;
}
.wrapper .myresume-content .footer_left .pagination {
  margin: 5px 0px;
  display: inline-block;
}
.wrapper .myresume-content .footer_left .pagination button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  background: #fff;
}
.wrapper .myresume-content .footer_left .pagination a.active {
  background-color: #00b9f2;
  color: white;
  border: 1px solid #00b9f2;
}
.wrapper .myresume-content .footer_left .pagination button:hover:not(.active) {
  background-color: #ddd;
}
.wrapper .myresume-content .header_right {
  padding-bottom: 10px;
  /*border-bottom: 1px solid #e5e6e7;*/
}
.wrapper .myresume-content .header_right .tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.wrapper .myresume-content .header_right .tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.wrapper .myresume-content .header_right .tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
  padding: 5px;
}
.wrapper .myresume-content .header_right .tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.wrapper .myresume-content .header_right .nav-tabs > li > a {
  border-radius: 0px;
}
.wrapper .myresume-content .header_right .tabbable-line > .nav-tabs > li.open > a,
.wrapper .myresume-content .header_right .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.wrapper .myresume-content .header_right .tabbable-line > .nav-tabs > li.open > a > i,
.wrapper .myresume-content .header_right .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.wrapper .myresume-content .header_right .tabbable-line > .nav-tabs > li.open .dropdown-menu,
.wrapper .myresume-content .header_right .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.wrapper .myresume-content .header_right .tabbable-line > .nav-tabs > li.active {
  position: relative;
}
.wrapper .myresume-content .header_right .tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.wrapper .myresume-content .header_right .tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.wrapper .myresume-content .header_right .tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.wrapper .myresume-content .header_right .box_right_left {
  padding: 16px;
}
.wrapper .myresume-content .header_right .box_right_left .nav-tabs {
  border: none;
}
.wrapper .myresume-content .header_right .box_right_right {
  padding: 0px;
  text-align: right;
}
.wrapper .myresume-content .header_right .box_right_right .btn-success {
  color: #797777;
  background-color: #eeeeee;
  border-color: #eeeeee;
}
.wrapper .myresume-content .header_right .box_right_right .dropdown-menu {
  right: 0;
  left: auto;
  min-width: auto;
  background: #eeeeee;
}
.wrapper .myresume-content .header_right .box_right_right .dropdown-menu > li > span {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
}
.wrapper .myresume-content .header_right .box_right_right .dropdown-menu > li > span:hover {
  background: #fff;
}
.wrapper .myresume-content .body_right table tbody tr td {
  padding-left: 0px;
}
.wrapper .myresume-content .body_right table tbody tr td .link-gray {
  display: flex;
}
.wrapper .myresume-content .body_right table tbody tr td .body_right_number_tb {
  font-size: 13px;
  padding-right: 10px;
  text-decoration: none;
  cursor: pointer;
}
.wrapper .myresume-content .body_right table tbody tr td .body_right_number_tb .lv-number {
  color: #FFF !important;
  background-color: #00b9f2;
  padding: 5px 0;
  white-space: nowrap;
  width: 38px;
  text-align: center;
  box-sizing: border-box;
  height: auto;
  float: none;
  border-radius: 2px;
  font-size: 90%;
  color: #3b4045;
  transform: translateY(-1px);
}
.wrapper .myresume-content .body_right table tbody tr td .body_right_des_tb {
  display: inline-block;
  padding-top: 3px;
  cursor: pointer;
  font-size: 95%;
}
.wrapper .myresume-content .body_right table tbody tr td a {
  color: #666;
}
.wrapper .myresume-content .body_right table tbody tr td a .m-r-sm {
  margin-right: 10px;
}
.wrapper .myresume-content .body_right table tbody tr td a:hover {
  text-decoration: none;
  color: #000;
}
.wrapper .myresume-content .item_left {
  border-radius: 1px;
  background: white;
  box-shadow: 0 1px 2px #ccc;
  margin-bottom: 10px;
}
.wrapper .myresume-content .box_item_left {
  padding: 15px;
  max-height: 150px;
}
.wrapper .myresume-content .box_item_left .header_box_item_left {
  font-size: 25px;
  color: #00b9f2;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.wrapper .myresume-content .body_box_item_left {
  font-size: 13px;
  color: #999;
  text-align: center;
}
.wrapper .myresume-content .body_box_item_left .body_box_item_left_slut {
  color: #f7941d;
  font-weight: bold;
}
.wrapper .myresume-content .body_box_item_left p {
  max-height: 36px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .info-togger {
    text-align: right;
    margin-top: -10px !important;
    margin-right: 10px;
    background: 0 0 !important;
  }
  .myresume-user-infor {
    background: #00b9f2;
  }
}
@media only screen and (max-width: 980px) {
  section {
    padding: 15px !important;
  }
}
@media only screen and (max-width: 768px) {
  .box_right_right {
    text-align: left !important;
    padding-left: 15px !important;
  }
}
@media only screen and (max-width: 720px) {
  .box_right_right {
    text-align: left !important;
    padding-left: 15px !important;
  }
}
@media only screen and (max-width: 640px) {
  .box_right_right {
    text-align: left !important;
    padding-left: 15px !important;
  }
}
@media only screen and (max-width: 600px) {
  .box_right_right {
    text-align: left !important;
    padding-left: 15px !important;
  }
}
@media only screen and (max-width: 568px) {
  .box_right_right {
    text-align: left !important;
    padding-left: 15px !important;
  }
}
@media only screen and (max-width: 563px) {
  .box_right_right {
    text-align: left !important;
    padding-left: 15px !important;
  }
}
@media only screen and (max-width: 549px) {
  .box_right_right {
    text-align: left !important;
    padding-left: 15px !important;
  }
}
@media only screen and (max-width: 534px) {
  .box_right_right {
    text-align: left !important;
    padding-left: 15px !important;
  }
}
@media only screen and (max-width: 480px) {
  .box_right_right {
    text-align: left !important;
    padding-left: 15px !important;
  }
}
@media only screen and (max-width: 360px) {
  .box_right_right {
    text-align: left !important;
    padding-left: 15px !important;
  }
}
@media only screen and (max-width: 338px) {
  .box_right_right {
    text-align: left !important;
    padding-left: 15px !important;
  }
}
@media only screen and (max-width: 330px) {
  .box_right_right {
    text-align: left !important;
    padding-left: 15px !important;
  }
}
@media only screen and (max-width: 320px) {
  .box_right_right {
    text-align: left !important;
    padding-left: 15px !important;
  }
}