html {
  min-height: 93% !important;
}
body {
  min-height: 100%;
  background: #eee;
}
header {
  background: #fff;
}
ul {
  list-style: none;
}
a:hover {
  color: #f8a036;
  text-decoration: none;
}
.wrapper {
  min-height: 100%;
  padding: 30px;
  background-color: #eee;
}
.wrapper .box {
  background: #fff;
  /*border: 1px solid #ddd;*/
}
.wrapper .box .box-category {
  padding-bottom: 25px;
}
.wrapper .box .box-category h1 {
  font-size: 32px;
  font-weight: 300;
}
.wrapper .box .box-category .box-category-item p {
  background: #eee;
  padding: 5px;
  font-weight: 700;
  color: rgba(0, 124, 242, 0.55);
  text-transform: capitalize;
  border-bottom: 1px solid #ddd;
}
.wrapper .box .box-category .box-category-item ul {
  padding: 0px;
}
.wrapper .box .box-category .box-category-item ul li {
  margin: 8px 0 8px 15px;
  color: rgba(153, 153, 153, 0.7);
  font-weight: 500;
}
.wrapper .box .box-category .box-category-item ul li a {
  color: #999999;
  font-weight: 500;
}
.wrapper .box .box-category .box-category-item ul li a:hover {
  color: #454444;
  font-weight: 500;
}
@media (max-width: 767px) {
  .info-togger {
    text-align: right;
    margin-top: -10px !important;
    margin-right: 10px;
    background: 0 0 !important;
  }
  .reset-pass {
    margin-top: 15px;
    float: left!important;
    width: 100%;
  }
}