/*input[type=checkbox]
{
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}*/
.lv-background-gray {
  background: #eee;
}
.lv-background-white {
  background: #fff;
}
.lv-checkbox-custom input[type="checkbox"] {
  display: none;
}
.lv-checkbox-custom span {
  cursor: pointer;
}
.lv-checkbox-custom label {
  font-weight: 100;
}
.lv-checkbox-custom input[type="checkbox"] + label span.check {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -3px 5px 0 0;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}
.lv-checkbox-custom input[type="checkbox"]:checked + label span.check {
  border: 2px solid #00b9f2;
  background: #faa916;
}
@media (min-width: 768px) {
  .sm-col-padding {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
@media (max-width: 767px) {
  .sm-col-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (min-width: 768px) {
  .select2-drop {
    border: 0;
    border-radius: 0 !important;
  }
  .lv-banner-container {
    height: 400px;
    width: 100%;
    background: olivedrab;
    position: relative;
    overflow: hidden;
  }
  .lv-banner-container .lv-search-container {
    height: 400px;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .lv-banner-container .lv-search-container .lv-search-widget {
    box-shadow: none;
    background: #e5e5e5;
    color: #fff;
    position: absolute;
    width: 500px;
    height: 250px;
    top: 15%;
    padding: 20px 30px 30px 30px;
    margin: 0;
    transform: translateY(0) translateX(-25%);
    left: calc(100% - 375px);
  }
  .lv-banner-container .lv-search-container .lv-search-widget .col-sm-12 {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
  }
  .lv-banner-container .lv-search-container .lv-search-widget h1 {
    font-size: 24px;
    font-weight: 100;
    margin-top: 30px;
    line-height: 30px;
    margin-bottom: 15px;
    text-align: center;
  }
  .lv-banner-container .lv-search-container .lv-search-widget .break-title {
    display: block;
  }
  .lv-banner-container .lv-search-container .lv-search-widget .lv-search-controls > form > a,
  .lv-banner-container .lv-search-container .lv-search-widget .lv-search-controls > form > div {
    height: 44px;
    margin: 10px 0;
    padding: 0;
  }
  .lv-banner-container .lv-search-container .lv-search-widget .lv-search-controls > form > a input,
  .lv-banner-container .lv-search-container .lv-search-widget .lv-search-controls > form > div input,
  .lv-banner-container .lv-search-container .lv-search-widget .lv-search-controls > form > a button,
  .lv-banner-container .lv-search-container .lv-search-widget .lv-search-controls > form > div button {
    border-radius: 2px;
  }
  .lv-banner-container .lv-slider-banner {
    position: absolute;
    top: 0;
    left: 0;
  }
  .lv-banner-container .lv-slider-banner img {
    height: 400px;
    width: 100%;
  }
  .lv-banner-container .lv-slider-banner .carousel-indicators {
    display: none;
  }
  .lv-banner-container .lv-slider-banner .carousel-indicators li {
    display: none;
  }
  .lv-dropdown-list span.lv-icon {
    height: 44px;
    position: absolute;
    top: 0;
    bottom: 0;
    line-height: 44px;
    z-index: 2;
    color: #666;
    opacity: 0.5;
    font-size: 20px;
    padding: 0;
  }
  .lv-dropdown-list .lv-search-list {
    height: 44px;
    background: #fff !important;
  }
  .lv-dropdown-list .lv-search-list a {
    height: 44px !important;
    border-radius: 0 !important;
    border: 0 !important;
    margin-left: -12px;
    margin-right: -12px;
    background: #fff;
    line-height: 44px !important;
    font-size: 15px;
    padding-left: 40px !important;
  }
  .lv-dropdown-list .lv-search-list .select2-arrow {
    background: transparent;
    border: 0;
    line-height: 44px;
    padding-top: 7px;
  }
}
@media (max-width: 767px) {
  .lv-banner-container {
    height: 400px;
    width: 100%;
    background: olivedrab;
    position: relative;
  }
  .lv-banner-container .lv-search-container {
    height: 420px;
    background: transparent;
    position: relative;
    top: 0;
    left: 0;
  }
  .lv-banner-container .lv-search-container .lv-search-widget {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.65);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 20px;
    line-height: 100%;
    padding: 80px 30px 30px 30px;
  }
  .lv-banner-container .lv-search-container .lv-search-widget h1 {
    font-size: 24px;
    font-weight: 100;
    margin-top: 30px;
    line-height: 30px;
    margin-bottom: 15px;
    text-align: center;
  }
  .lv-banner-container .lv-search-container .lv-search-widget .break-title {
    display: block;
  }
  .lv-banner-container .lv-search-container .lv-search-widget .lv-search-controls > form > a,
  .lv-banner-container .lv-search-container .lv-search-widget .lv-search-controls > form > div {
    height: 44px;
    margin: 10px 0;
    padding: 0;
  }
  .lv-banner-container .lv-search-container .lv-search-widget .lv-search-controls > form > a input,
  .lv-banner-container .lv-search-container .lv-search-widget .lv-search-controls > form > div input,
  .lv-banner-container .lv-search-container .lv-search-widget .lv-search-controls > form > a button,
  .lv-banner-container .lv-search-container .lv-search-widget .lv-search-controls > form > div button {
    border-radius: 2px;
  }
  .lv-banner-container .lv-slider-banner {
    position: absolute;
    top: 0;
    left: 0;
  }
  .lv-banner-container .lv-slider-banner img {
    height: 400px;
    width: 100%;
  }
  .lv-banner-container .lv-slider-banner .carousel-indicators {
    display: none;
  }
  .lv-banner-container .lv-slider-banner .carousel-indicators li {
    display: none;
  }
  .lv-dropdown-list span.lv-icon {
    height: 44px;
    position: absolute;
    top: 0;
    bottom: 0;
    line-height: 44px;
    z-index: 2;
    color: #666;
    opacity: 0.5;
    font-size: 20px;
  }
  .lv-dropdown-list .lv-search-list {
    height: 44px;
    background: #fff !important;
  }
  .lv-dropdown-list .lv-search-list a {
    height: 44px !important;
    border-radius: 0 !important;
    border: 0 !important;
    margin-left: -12px;
    margin-right: -12px;
    background: #fff;
    line-height: 44px !important;
    font-size: 15px;
    padding-left: 40px !important;
  }
  .lv-dropdown-list .lv-search-list .select2-arrow {
    background: transparent;
    border: 0;
    line-height: 44px;
    padding-top: 7px;
  }
  .lv-input-dropdown {
    height: 44px;
    position: relative;
    margin-left: -12px;
    margin-right: -12px;
    background: #fff;
  }
  .lv-input-dropdown .btn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    border-radius: 0;
    height: 44px;
    padding: 10px 30px 10px 40px;
    border: 0;
    background: #fff;
  }
  .lv-input-dropdown .btn:hover,
  .lv-input-dropdown .btn:focus {
    background-color: #fff !important;
    border: 0;
  }
  .lv-input-dropdown span {
    color: #666;
    opacity: 0.5;
  }
  .lv-input-dropdown .text {
    font-size: 15px;
    color: #000;
    text-align: left;
    position: absolute;
    top: 0;
    left: 40px;
    right: 30px;
    line-height: 42px;
    height: 45px;
  }
  .lv-input-dropdown .icon-left {
    position: absolute;
    left: 0;
    z-index: 2;
    line-height: 40px;
    width: 40px;
    font-size: 20px;
    height: 44px;
  }
  .lv-input-dropdown .icon-right {
    position: absolute;
    right: 0;
    z-index: 2;
    line-height: 44px;
    width: 30px;
    font-size: 11px;
    height: 44px;
  }
  .lv-input-dropdown .dropdown-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    font-size: 18px;
  }
  .lv-input-dropdown .dropdown-menu .search-list {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #cecece;
    padding: 10px 20px 20px 30px;
    position: relative;
  }
  .lv-input-dropdown .dropdown-menu .search-list .input {
    width: 100%;
    padding: 0;
    border: 0;
    border-bottom: 1px dotted #666;
    height: 34px;
    color: #333;
    padding: 5px 34px 5px 5px;
    z-index: 1;
  }
  .lv-input-dropdown .dropdown-menu .search-list span {
    color: #666;
    opacity: 0.5;
    position: absolute;
    right: 0;
    line-height: 44px;
    font-size: 15px;
    width: 44px;
    padding-left: 10px;
    display: none;
  }
  .lv-input-dropdown .dropdown-menu ul.list-item {
    height: calc(100% - 44px);
    overflow-y: auto;
    margin: 0;
    padding: 0;
  }
  .lv-input-dropdown .dropdown-menu ul.list-item li {
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #e5e5e5;
    padding: 0 10px;
    overflow: hidden;
    color: #666;
    cursor: pointer;
  }
  .lv-input-dropdown .dropdown-menu ul.list-item li:hover {
    color: #333;
    background: #f6f6f6;
  }
}
.lv-search-box {
  height: 44px;
  position: relative;
  margin-left: -12px;
  margin-right: -12px;
}
.lv-search-box .input {
  position: absolute;
  top: 0;
  left: 0;
  height: 44px;
  width: 100%;
  padding: 10px 30px 10px 40px;
  border: 0;
  font-size: 15px;
  color: #333;
  z-index: 1;
}
.lv-search-box span {
  color: #666;
  opacity: 0.5;
}
.lv-search-box .icon-search {
  position: absolute;
  left: 0;
  height: 44px;
  width: 40px;
  z-index: 2;
  font-size: 20px;
  line-height: 40px;
  padding: 0 8px;
}
.lv-search-box .icon-remove {
  position: absolute;
  right: 0;
  height: 44px;
  width: 30px;
  z-index: 2;
  font-size: 13px;
  line-height: 44px;
  padding: 0 8px;
  display: none;
  cursor: pointer;
}
.lv-search-box.has-text .icon-remove {
  display: block;
}
.lv-button-search {
  background: #00b9f2;
  color: #fff;
  border: 2px solid #fff;
  height: 44px;
  position: relative;
  margin-left: -12px;
  margin-right: -12px;
  font-size: 16px;
  font-weight: 500;
}
.lv-button-search .btn-search {
  background: transparent;
  border: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
}
@media (min-width: 768px) {
  .lv-main-content {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .lv-main-content .lv-group {
    padding: 0 5px;
  }
  .lv-main-content .lv-list-job {
    margin-right: 10px;
  }
  .lv-main-content .lv-list-job .lv-header {
    height: 37px;
    border: 1px solid #00b9f2;
    border-bottom: 0;
    background: #00b9f2;
    font-size: 15px;
    line-height: 37px;
    text-align: center;
    font-weight: 500;
    color: #fff;
  }
  .lv-main-content .lv-list-job .lv-content {
    border: 1px solid #e5e5e5;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    overflow: auto;
    height: 535px;
  }
  .lv-main-content .lv-list-job .lv-content ul {
    overflow: hidden;
    margin: 5px 30px;
    padding: 0;
  }
  .lv-main-content .lv-list-job .lv-content ul li.job-item {
    float: left;
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 1px dotted #ccc;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .lv-main-content .lv-list-job .lv-content ul li.job-item .job-title {
    float: left;
    display: block;
    text-align: left;
  }
  .lv-main-content .lv-list-job .lv-content ul li.job-item .job-title strong {
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    vertical-align: middle;
  }
  .lv-main-content .lv-list-job .lv-content ul li.job-item .job-title em {
    display: block;
    font-style: normal;
    color: #888;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  .lv-main-content .lv-list-job .lv-content ul li.job-item .job-score {
    float: left;
    width: 40px;
    display: block;
  }
  .lv-main-content .lv-list-job .lv-paginator {
    height: 70px;
    text-align: center;
  }
  .lv-main-content .lv-list-company {
    border: 1px solid #e5e5e5;
  }
  .lv-main-content .lv-list-company .lv-header {
    height: 37px;
    border-bottom: 1px solid #00b9f2;
    background: #00b9f2;
    font-size: 15px;
    line-height: 37px;
    text-align: center;
    font-weight: 500;
    color: #fff;
  }
  .lv-main-content .lv-list-company .lv-content {
    height: 535px;
    padding-top: 10px;
    text-align: center;
    overflow: auto;
  }
  .lv-main-content .lv-list-company .lv-content .logo {
    display: inline-block;
    height: 70px;
    line-height: 60px;
    width: 110px;
    margin: 5px;
    padding: 5px;
  }
  .lv-main-content .lv-list-company .lv-content .logo > img {
    max-height: 60px !important;
    max-width: 100px !important;
  }
  .lv-main-content .lv-paginator a {
    margin: 0 3px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    padding: 0;
    border-radius: 0 !important;
    font-size: 16px !important;
  }
  .lv-main-content .lv-paginator .active a {
    background: #00b9f2 !important;
    border: transparent;
  }
}
@media (max-width: 767px) {
  .lv-main-content {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .lv-main-content .lv-group {
    padding: 0 5px;
  }
  .lv-main-content .lv-list-job {
    padding-top: 10px;
    /*margin-right: 10px;*/
  }
  .lv-main-content .lv-list-job .lv-header {
    height: 37px;
    border-bottom: 1px solid #faa916;
    background: #faa916;
    font-size: 15px;
    line-height: 37px;
    text-align: left;
    padding-left: 15px;
    font-weight: 500;
    color: #fff;
  }
  .lv-main-content .lv-list-job .lv-content {
    border: 1px solid #e5e5e5;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    overflow: auto;
    height: 535px;
  }
  .lv-main-content .lv-list-job .lv-content ul {
    overflow: hidden;
    margin: 5px 30px;
    padding: 0;
  }
  .lv-main-content .lv-list-job .lv-content ul li.job-item {
    float: left;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 1px dotted #ccc;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .lv-main-content .lv-list-job .lv-content ul li.job-item .job-title {
    float: left;
    display: block;
    text-align: left;
    padding-left: 5px;
  }
  .lv-main-content .lv-list-job .lv-content ul li.job-item .job-title strong {
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    vertical-align: middle;
  }
  .lv-main-content .lv-list-job .lv-content ul li.job-item .job-title em {
    display: block;
    font-style: normal;
    color: #888;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  .lv-main-content .lv-list-job .lv-content ul li.job-item .job-score {
    float: left;
    width: 40px;
    display: block;
  }
  .lv-main-content .lv-list-job .lv-paginator {
    height: 70px;
    text-align: center;
  }
  .lv-main-content .lv-list-company {
    border: 1px solid #fff;
  }
  .lv-main-content .lv-list-company .lv-header {
    height: 37px;
    border-bottom: 1px solid #faa916;
    background: #faa916;
    font-size: 15px;
    line-height: 37px;
    text-align: left;
    padding-left: 15px;
    font-weight: 500;
    color: #fff;
  }
  .lv-main-content .lv-list-company .lv-content {
    height: 535px;
    padding-top: 10px;
    text-align: center;
    overflow: auto;
  }
  .lv-main-content .lv-list-company .lv-content .logo {
    display: inline-block;
    height: 70px;
    line-height: 70px;
    width: 30%;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 0;
    margin: 5px;
  }
  .lv-main-content .lv-list-company .lv-content .logo > img {
    max-height: 60px!important;
    max-width: 100px!important;
  }
  .lv-main-content .lv-paginator a {
    margin: 0 3px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    padding: 0;
    border-radius: 0 !important;
    font-size: 16px !important;
  }
  .lv-main-content .lv-paginator .active a {
    background: #00b9f2 !important;
    border: transparent;
  }
}
@media (min-width: 1200px) {
  .job-title {
    width: 420px;
  }
}
@media (min-width: 992px) {
  .job-title {
    width: 250px;
  }
}
.lv-main-footer {
  border-top: 1px solid #d5d5d5;
  background: #e2e2e2;
  padding: 15px 0 30px 0;
  width: 100%;
  font-size: 15px;
}
.lv-main-footer p.title {
  font-weight: bold;
  font-size: 17px;
  color: #555;
  opacity: 0.9;
}
.lv-main-footer a {
  font-size: 15px;
  color: #555;
  opacity: 0.8;
}
.lv-main-footer a:hover {
  text-decoration: none;
  color: #e38008;
  -webkit-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  transition: color 300ms linear;
}
.lv-main-footer hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #ddd;
}
.lv-button-go-top {
  position: fixed;
  bottom: 25px;
  right: 5px;
}
.lv-button-go-top .go-top {
  width: 30px;
  height: 30px;
  font-size: 20px;
}
.lv-button-go-top .go-top a {
  height: 30px;
  line-height: 30px;
}
.lv-button-go-top .go-top a i {
  background: #666;
  opacity: 0.1;
  border-radius: 30px;
}
.lv-button-go-top .go-top a i:hover {
  background: #e38008;
  opacity: 0.7;
  border-radius: 30px;
  -webkit-transition: opacity 300ms linear;
  -ms-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}
.lv-custom-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}
.lv-custom-scrollbar::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}
.lv-custom-scrollbar::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #cecece;
}
.top5 {
  padding-top: 5px;
}
.top10 {
  padding-top: 10px;
}
.mar-left {
  margin-left: 15px;
}
.item_color {
  color: #999;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  max-width: 100px;
}
input[type=file] {
  margin-top: 5px;
}
input[type=checkbox] {
  margin-top: 10px;
}
.item_box2 {
  border: 1px solid #eee;
  background: #fff;
  border-radius: 5px;
  margin-top: 15px;
  box-shadow: 0 2px 2px #ccc;
}
.item_left_box_active {
  background: #ddd !important;
}
.active_item {
  background: #eeeeee !important;
  border: 1px solid #fff;
}
.item_table_active {
  background: #ddd !important;
}
.box {
  background: #fff;
  margin-bottom: 15px;
  border: 0;
  box-shadow: 0 2px 2px #ccc;
}
section {
  padding: 30px 0 ;
}
.myapply_item_box2_right {
  text-align: right;
}
.form-horizontal .control-label {
  padding-right: 0;
}
.dropdown .dropdown-toggle img {
  margin-top: 4px !important;
}
/*.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}*/
.wrapper {
  background-color: #EEEEEE;
  min-height: 550px;
}
.wrapper .myresume-content .body_left {
  clear: both;
}
.wrapper .myresume-content .header_left {
  min-height: 70px;
}
.wrapper .myresume-content .header_left .item_header_left {
  min-height: 60px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 2px #ccc;
  margin-bottom: 10px;
  padding: 12px 20px;
  text-align: center;
  /* Default Start */
  /* Default End */
  /* Primary Start */
  /* Primary End */
  /* Success Start */
  /* Success End */
  /* info Start */
  /* info End */
  /* warning Start */
  /* warning End */
  /* danger Start */
  /* danger End */
}
.wrapper .myresume-content .header_left .item_header_left .lv-dropdown-list .lv-icon {
  top: 12px;
}
.wrapper .myresume-content .header_left .item_header_left .lv-dropdown-list .lv-search-list a {
  border: 1px solid #ddd !important;
}
.wrapper .myresume-content .header_left .item_header_left select {
  border: 0;
}
.wrapper .myresume-content .header_left .item_header_left .form-control {
  /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
  box-shadow: none;
  padding-left: 0;
}
.wrapper .myresume-content .header_left .item_header_left .dropdown a {
  width: 100%;
  text-align: left;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select {
  position: relative;
  padding: 0;
  min-width: 236px;
  width: 100%;
  border-radius: 0;
  margin-bottom: 20px;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select .btn-select-value {
  padding: 6px 12px;
  display: block;
  position: absolute;
  left: 0;
  right: 34px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  border-top: none !important;
  border-bottom: none !important;
  border-left: none !important;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select .btn-select-arrow {
  float: right;
  line-height: 20px;
  padding: 6px 10px;
  top: 0;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select ul {
  display: none;
  background-color: white;
  color: black;
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: none !important;
  position: absolute;
  left: -1px;
  right: -1px;
  top: 33px;
  z-index: 999;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select ul li {
  padding: 3px 6px;
  text-align: left;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select ul li:hover {
  background-color: #f4f4f4;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select ul li.selected {
  color: white;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-default:hover,
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-default:active,
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-default.active {
  border-color: #ccc;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-default ul li.selected {
  background-color: #ccc;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-default ul,
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-default .btn-select-value {
  background-color: white;
  border: #ccc 1px solid;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-default:hover,
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-default.active {
  background-color: #e6e6e6;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-primary:hover,
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-primary:active,
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-primary.active {
  border-color: #286090;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-primary ul li.selected {
  background-color: #2e6da4;
  color: white;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-primary ul {
  border: #2e6da4 1px solid;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-primary .btn-select-value {
  background-color: #428bca;
  border: #2e6da4 1px solid;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-primary:hover,
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-primary.active {
  background-color: #286090;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-success:hover,
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-success:active,
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-success.active {
  border-color: #4cae4c;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-success ul li.selected {
  background-color: #4cae4c;
  color: white;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-success ul {
  border: #4cae4c 1px solid;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-success .btn-select-value {
  background-color: #5cb85c;
  border: #4cae4c 1px solid;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-success:hover,
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-success.active {
  background-color: #449d44;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-info:hover,
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-info:active,
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-info.active {
  border-color: #46b8da;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-info ul li.selected {
  background-color: #46b8da;
  color: white;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-info ul {
  border: #46b8da 1px solid;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-info .btn-select-value {
  background-color: #5bc0de;
  border: #46b8da 1px solid;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-info:hover,
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-info.active {
  background-color: #269abc;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-warning:hover,
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-warning:active,
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-warning.active {
  border-color: #eea236;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-warning ul li.selected {
  background-color: #eea236;
  color: white;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-warning ul {
  border: #eea236 1px solid;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-warning .btn-select-value {
  background-color: #f0ad4e;
  border: #eea236 1px solid;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-warning:hover,
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-warning.active {
  background-color: #d58512;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-danger:hover,
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-danger:active,
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-danger.active {
  border-color: #d43f3a;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-danger ul li.selected {
  background-color: #d43f3a;
  color: white;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-danger ul {
  border: #d43f3a 1px solid;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-danger .btn-select-value {
  background-color: #d9534f;
  border: #d43f3a 1px solid;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-danger:hover,
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-danger.active {
  background-color: #c9302c;
}
.wrapper .myresume-content .header_left .item_header_left .btn-select.btn-select-light .btn-select-value {
  background-color: white;
  color: black;
}
.wrapper .myresume-content .footer_left {
  border-top: 2px solid #00b9f2;
  margin-top: -7px;
}
.wrapper .myresume-content .footer_left .pagination {
  margin: 2px 0px;
  display: inline-block;
}
.wrapper .myresume-content .footer_left .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd !important;
  margin: 0 4px;
}
.wrapper .myresume-content .footer_left .pagination a.active {
  background-color: #00b9f2;
  color: white;
  border: 1px solid #00b9f2;
}
.wrapper .myresume-content .footer_left .pagination a:hover:not(.active) {
  background-color: #ddd;
}
.wrapper .myresume-content .footer_left .pagination a:last-child:hover {
  background-color: #fff;
}
.wrapper .myresume-content .footer_left .pagination a:last-child {
  border: 0px;
}
.wrapper .myresume-content .header_right {
  min-height: 70px;
}
.wrapper .myresume-content .header_right .tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.wrapper .myresume-content .header_right .tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.wrapper .myresume-content .header_right .tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
  padding: 5px;
}
.wrapper .myresume-content .header_right .tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.wrapper .myresume-content .header_right .nav-tabs > li > a {
  border-radius: 0px;
}
.wrapper .myresume-content .header_right .tabbable-line > .nav-tabs > li.open > a,
.wrapper .myresume-content .header_right .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.wrapper .myresume-content .header_right .tabbable-line > .nav-tabs > li.open > a > i,
.wrapper .myresume-content .header_right .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.wrapper .myresume-content .header_right .tabbable-line > .nav-tabs > li.open .dropdown-menu,
.wrapper .myresume-content .header_right .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.wrapper .myresume-content .header_right .tabbable-line > .nav-tabs > li.active {
  position: relative;
}
.wrapper .myresume-content .header_right .tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.wrapper .myresume-content .header_right .tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.wrapper .myresume-content .header_right .tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.wrapper .myresume-content .header_right .box_right_left {
  padding: 20px 0px;
}
.wrapper .myresume-content .header_right .box_right_left span {
  font-weight: 600;
  font-size: 20px;
}
.wrapper .myresume-content .header_right .box_right_left .nav-tabs {
  border: none;
}
.wrapper .myresume-content .header_right .box_right_right {
  padding: 17px;
  text-align: right;
}
.wrapper .myresume-content .body_right {
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 2px #ccc;
  margin-bottom: 10px;
  padding: 15px;
  clear: both;
}
.wrapper .myresume-content .body_right .tabuv .table tbody tr {
  border-bottom: 0px;
}
.wrapper .myresume-content .body_right .tabuv .table tbody tr .box_uv p {
  font-size: 11px;
  color: #999;
}
.wrapper .myresume-content .body_right .tabuv .table tbody tr .box_uv p strong {
  font-size: 16px;
  color: #00b9f2;
}
.wrapper .myresume-content .item_left {
  border-radius: 1px;
  background: white;
  box-shadow: 0 1px 2px #ccc;
  margin-bottom: 5px;
  clear: both;
}
.wrapper .myresume-content .box_item_left {
  padding: 15px;
}
.wrapper .myresume-content .box_item_left .header_box_item_left {
  font-size: 25px;
  color: #00b9f2;
}
.wrapper .myresume-content .body_box_item_left {
  font-size: 13px;
  color: #999;
}
.wrapper .myresume-content .body_box_item_left .body_box_item_left_slut {
  color: #f7941d;
  font-weight: bold;
}
.wrapper .myresume-content .body_box_item_left p:last-child {
  font-weight: 600;
  color: #404040;
}
.wrapper .myresume-content .body_box_item_left p {
  font-size: 80%;
}
@media (max-width: 767px) {
  .info-togger {
    text-align: right;
    margin-top: -10px !important;
    margin-right: 10px;
    background: 0 0 !important;
  }
  .myresume-user-infor {
    background: #00b9f2;
  }
}
@media only screen and (min-width: 1024px) {
  .table-horizontal {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .table-vertical {
    display: none;
  }
  .body_right table tbody tr td {
    border-top: 0;
  }
  .body_right table tbody tr th {
    border-top: 0;
  }
}
@media only screen and (max-width: 768px) {
  .select2-drop {
    border: 0;
    border-radius: 0 !important;
  }
  .lv-dropdown-list span.lv-icon {
    height: 44px;
    position: absolute;
    top: 15px !important;
    bottom: 0;
    padding: 0 10px;
    line-height: 44px;
    z-index: 2;
    color: #666;
    opacity: 0.5;
    font-size: 20px;
  }
  .lv-dropdown-list .lv-search-list {
    height: 44px;
    background: #fff !important;
  }
  .lv-dropdown-list .lv-search-list a {
    height: 44px !important;
    border-radius: 0 !important;
    border: 0 !important;
    background: #fff;
    line-height: 44px !important;
    font-size: 15px;
    padding-left: 40px !important;
  }
  .lv-dropdown-list .lv-search-list .select2-arrow {
    background: transparent;
    border: 0;
    line-height: 44px;
    padding-top: 7px;
  }
}