/*input[type=checkbox]
{
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}*/
.lv-background-gray {
  background: #eee;
}
.lv-background-white {
  background: #fff;
}
.lv-checkbox-custom input[type="checkbox"] {
  display: none;
}
.lv-checkbox-custom span {
  cursor: pointer;
}
.lv-checkbox-custom label {
  font-weight: 100;
}
.lv-checkbox-custom input[type="checkbox"] + label span.check {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -3px 5px 0 0;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}
.lv-checkbox-custom input[type="checkbox"]:checked + label span.check {
  border: 2px solid #00b9f2;
  background: #faa916;
}
@media (min-width: 768px) {
  .sm-col-padding {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
@media (max-width: 767px) {
  .sm-col-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (min-width: 768px) {
  .select2-drop {
    border: 0;
    border-radius: 0 !important;
  }
  .lv-search-wrapper {
    margin: 20px 0;
  }
  .button-list-cat {
    display: block;
  }
  .lv-button-list-cat {
    display: none;
  }
  .lv-search-container {
    height: 66px;
    background: transparent;
    position: relative;
    top: 0;
    left: 0;
  }
  .lv-search-container .lv-search-widget {
    border-radius: 0;
    box-shadow: none;
    background: #faa916 !important;
    color: #fff;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .lv-search-container .lv-search-widget h1 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left;
  }
  .lv-search-container .lv-search-widget .break-title {
    display: none;
  }
  .lv-search-container .lv-search-widget .lv-search-controls {
    height: 44px;
  }
  .lv-search-container .lv-search-widget .lv-upload-profile {
    width: 100%;
    text-align: center;
  }
  .lv-search-container .lv-search-widget .lv-upload-profile a {
    height: 34px;
    line-height: 34px;
    font-size: 15px;
    cursor: pointer;
    opacity: 0.7;
    color: #fff;
    text-decoration: none;
  }
  .lv-search-container .lv-search-widget .lv-upload-profile a:hover {
    color: #e38008;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
  }
  .lv-dropdown-list {
    margin-left: -12px;
    margin-right: -6px;
  }
  .lv-dropdown-list span.lv-icon {
    height: 44px;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0 10px;
    line-height: 44px;
    z-index: 2;
    color: #666;
    opacity: 0.5;
    font-size: 20px;
  }
  .lv-dropdown-list .lv-search-list {
    height: 44px;
    background: #fff !important;
  }
  .lv-dropdown-list .lv-search-list a {
    height: 44px !important;
    border-radius: 0 !important;
    border: 0 !important;
    background: #fff;
    line-height: 44px !important;
    font-size: 15px;
    padding-left: 40px !important;
  }
  .lv-dropdown-list .lv-search-list .select2-arrow {
    background: transparent;
    border: 0;
    line-height: 44px;
    padding-top: 7px;
  }
  .lv-search-box {
    margin: 0 -6px 0 -12px;
  }
}
@media (max-width: 767px) {
  .lv-search-wrapper {
    margin: 0;
  }
  .button-list-cat {
    display: none;
  }
  .lv-button-list-cat {
    display: block;
  }
  .lv-search-container {
    height: 320px;
    background: transparent;
    position: relative;
    top: 0;
    left: 0;
  }
  .lv-search-container .lv-search-widget {
    box-shadow: none;
    background: #faa916;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 30px 30px 30px;
  }
  .lv-search-container .lv-search-widget h1 {
    font-size: 24px;
    font-weight: 100;
    margin-top: 30px;
    line-height: 30px;
    margin-bottom: 15px;
    text-align: center;
  }
  .lv-search-container .lv-search-widget .break-title {
    display: block;
  }
  .lv-search-container .lv-search-widget .lv-search-controls > form > div.lv-control {
    margin: 10px 0;
    padding: 0;
  }
  .lv-search-container .lv-search-widget .lv-search-controls > form > div.lv-control input,
  .lv-search-container .lv-search-widget .lv-search-controls > form > div.lv-control button {
    border-radius: 0;
  }
  .lv-search-container .lv-search-widget .lv-upload-profile {
    width: 100%;
    text-align: center;
  }
  .lv-search-container .lv-search-widget .lv-upload-profile a {
    height: 34px;
    line-height: 34px;
    font-size: 15px;
    cursor: pointer;
    opacity: 0.7;
    color: #fff;
    text-decoration: none;
  }
  .lv-search-container .lv-search-widget .lv-upload-profile a:hover {
    color: #e38008;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
  }
  .lv-search-container .lv-search {
    margin: 0px -15px;
    /*> div:last-child {
                margin-top: 12px;
            }*/
  }
  .lv-search-container .lv-button-list-cat {
    background: transparent;
    color: #fff;
    height: 44px;
    position: relative;
    margin-left: -12px;
    margin-right: -12px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
  }
  .lv-search-container .lv-button-list-cat > a {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 0;
    color: #fff;
  }
  .lv-search-container .lv-button-list-cat > a:hover {
    text-decoration: none;
    background: #eda219;
  }
  .lv-dropdown-list {
    margin: 10px 0;
  }
  .lv-dropdown-list span.lv-icon {
    height: 44px;
    position: absolute;
    top: 0;
    bottom: 0;
    line-height: 44px;
    z-index: 2;
    color: #666;
    opacity: 0.5;
    font-size: 20px;
  }
  .lv-dropdown-list .lv-search-list {
    height: 44px;
    background: #fff !important;
  }
  .lv-dropdown-list .lv-search-list a {
    height: 44px !important;
    border-radius: 0 !important;
    border: 0 !important;
    margin-left: -12px;
    margin-right: -12px;
    background: #fff;
    line-height: 44px !important;
    font-size: 15px;
    padding-left: 40px !important;
  }
  .lv-dropdown-list .lv-search-list .select2-arrow {
    background: transparent;
    border: 0;
    line-height: 44px;
    padding-top: 7px;
  }
  .lv-search-box {
    margin: 10px -12px;
  }
}
.lv-search-box {
  height: 44px;
  position: relative;
}
.lv-search-box .input {
  position: absolute;
  top: 0;
  left: 0;
  height: 44px;
  width: 100%;
  padding: 10px 30px 10px 40px;
  border: 0;
  font-size: 15px;
  color: #333;
  z-index: 1;
  text-overflow: ellipsis;
}
.lv-search-box span {
  color: #666;
  opacity: 0.5;
}
.lv-search-box .icon-search {
  position: absolute;
  left: 0;
  height: 44px;
  width: 40px;
  z-index: 2;
  font-size: 20px;
  line-height: 40px;
  padding: 0 8px;
}
.lv-search-box .icon-remove {
  position: absolute;
  right: 0;
  height: 44px;
  width: 30px;
  z-index: 2;
  font-size: 13px;
  line-height: 44px;
  padding: 0 8px;
  display: none;
  cursor: pointer;
}
.lv-search-box.has-text .icon-remove {
  display: block;
}
.lv-button-search {
  background: #faa916;
  color: #fff;
  border: 2px solid #fff;
  height: 44px;
  position: relative;
  margin-left: -12px;
  margin-right: -12px;
  font-size: 16px;
  font-weight: 500;
}
.lv-button-search .btn-search {
  background: #00b9f2;
  border: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
}
.button-list-cat {
  height: 44px;
  color: #fff;
  font-size: 20px;
  line-height: 44px;
  text-align: center;
}
.lv-result-search {
  background: #eaf8fc;
}
.lv-result-search > .search-header {
  height: 68px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eceff1;
  padding: 15px 30px;
  line-height: 38px;
}
.lv-result-search > .search-header .title-count {
  font-size: 20px;
  color: #333;
  opacity: 0.8;
}
.lv-result-search > .search-header .title-sort {
  font-size: 14px;
  color: #333;
  opacity: 0.8;
}
.lv-result-search > .search-header .title-sort > span {
  padding: 0 3px;
}
.lv-result-search > .search-header .title-sort > span.lv-tab {
  cursor: pointer;
}
.lv-result-search > .search-header .title-sort > span.lv-tab.selected {
  font-weight: bold;
}
.lv-result-search > .search-content .list-item {
  padding: 10px;
  display: flex;
  border-bottom: 1px solid #eceff1;
}
.lv-result-search > .search-content .list-item .item-icon {
  margin: auto;
}
.lv-result-search > .search-content .list-item .item-icon .logo-photo {
  padding: 0 10px;
  width: 86px;
  height: 64px;
}
.lv-result-search > .search-content .list-item .item-info {
  width: calc(100% - 100px);
}
.lv-result-search > .search-content .list-item .item-info .job-name {
  font-size: 20px;
  color: #00b9f2;
  cursor: pointer;
  font-weight: 500;
  display: block;
  padding: 3px;
}
.lv-result-search > .search-content .list-item .item-info .job-name:hover {
  text-decoration: none;
  color: #faa916;
  -webkit-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  transition: color 300ms linear;
}
.lv-result-search > .search-content .list-item .item-info .lv-title-job-item {
  display: inline-flex;
}
.lv-result-search > .search-content .list-item .item-info .lv-title-job-item .lv-span-hot {
  color: #ff1919;
  font-weight: 400;
  font-style: italic;
  font-size: 11px;
  line-height: 10px;
  position: relative;
  top: 10px;
  left: 5px;
}
.lv-result-search > .search-content .list-item .item-info .job-company {
  font-size: 15px;
  color: #555;
  cursor: pointer;
  font-weight: 500;
  display: block;
  padding: 3px;
}
.lv-result-search > .search-content .list-item .item-info .job-company .sm-text {
  padding-left: 10px;
  padding-right: 10px;
}
.lv-result-search > .search-content .list-item .item-info .job-company span {
  color: #aaa;
}
.lv-result-search > .search-content .list-item .item-info .job-salary {
  font-size: 15px;
  display: block;
  padding: 3px;
}
.lv-result-search > .search-content .list-item .item-info .job-salary .salary {
  color: #faa916;
}
.lv-result-search > .search-content .list-item .item-info .job-salary .sm-text {
  padding-left: 10px;
  padding-right: 10px;
}
.lv-result-search > .search-content .list-item .item-info .job-salary span {
  color: #aaa;
}
.lv-search-content {
  padding-bottom: 20px;
}
.lv-main-footer {
  border-top: 1px solid #d5d5d5;
  background: #e2e2e2;
  padding: 15px 0 30px 0;
  width: 100%;
  font-size: 15px;
}
.lv-main-footer p.title {
  font-weight: bold;
  font-size: 17px;
  color: #555;
  opacity: 0.9;
}
.lv-main-footer a {
  font-size: 15px;
  color: #555;
  opacity: 0.8;
}
.lv-main-footer a:hover {
  text-decoration: none;
  color: #e38008;
  -webkit-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  transition: color 300ms linear;
}
.lv-main-footer hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #ddd;
}
.lv-button-go-top {
  position: fixed;
  bottom: 25px;
  right: 5px;
}
.lv-button-go-top .go-top {
  width: 30px;
  height: 30px;
  font-size: 20px;
}
.lv-button-go-top .go-top a {
  height: 30px;
  line-height: 30px;
}
.lv-button-go-top .go-top a i {
  background: #666;
  opacity: 0.1;
  border-radius: 30px;
}
.lv-button-go-top .go-top a i:hover {
  background: #e38008;
  opacity: 0.7;
  border-radius: 30px;
  -webkit-transition: opacity 300ms linear;
  -ms-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}
.lv-left-menu-search > .panel {
  border-radius: 0;
}
.lv-left-menu-search > .panel > .panel-heading {
  background: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px;
}
.lv-left-menu-search > .panel > .panel-body {
  padding: 0 15px;
}
.lv-left-menu-search > .panel > .panel-body > .group > .header {
  font-size: 15px;
  text-transform: uppercase;
  margin: 20px 0;
  color: #555;
  cursor: pointer;
}
.lv-left-menu-search > .panel > .panel-body > .group > .header .glyphicon {
  float: right;
}
.lv-left-menu-search > .panel > .panel-body > .group > .header .icon-down {
  display: block;
}
.lv-left-menu-search > .panel > .panel-body > .group > .header .icon-right {
  display: none;
}
.lv-left-menu-search > .panel > .panel-body > .group > .body {
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.lv-left-menu-search > .panel > .panel-body > .group.hide-body > .header .icon-down {
  display: none;
}
.lv-left-menu-search > .panel > .panel-body > .group.hide-body > .header .icon-right {
  display: block;
}
.lv-left-menu-search > .panel > .panel-body > .group.hide-body > .body {
  padding-bottom: 0;
  border-bottom: 1px solid #ddd;
}
.lv-left-menu-search > .panel > .panel-body > .group.hide-body > .body > * {
  display: none;
}
.lv-left-menu-search > .panel > .panel-body > .group:last-child > .body,
.lv-left-menu-search > .panel > .panel-body > .group.hide-body:last-child > .body {
  padding-bottom: 15px;
  border-bottom: 0;
}
.item-icon-save {
  margin-right: 20px;
  font-size: 20px;
  cursor: pointer;
  color: #bebebe;
  margin-left: 20px;
}
.item-icon-save:hover {
  color: #faa916;
}
.fa-heart {
  color: #faa916;
}
.lv-left-nav-search {
  height: 50px;
  background: #555;
}
.lv-left-nav-search .filter-icon {
  text-align: center;
  font-size: 20px;
  border-right: 1px solid #999;
  line-height: 50px;
}
.lv-left-nav-search .filter-icon > span,
.lv-left-nav-search .filter-icon i {
  color: #fff;
}
.lv-left-nav-search .filter-icon:hover {
  cursor: pointer;
  background: #444;
}
.lv-left-nav-search .panel {
  border-radius: 0;
  margin-bottom: 0;
}
.lv-left-nav-search .panel > .panel-heading {
  display: none;
}
.lv-left-nav-search .panel > .panel-body {
  padding: 0 15px;
}
.lv-left-nav-search .panel > .panel-body > .group > .header {
  font-size: 15px;
  text-transform: uppercase;
  margin: 20px 0;
  color: #555;
  cursor: pointer;
}
.lv-left-nav-search .panel > .panel-body > .group > .header .glyphicon {
  float: right;
}
.lv-left-nav-search .panel > .panel-body > .group > .header .icon-down {
  display: block;
}
.lv-left-nav-search .panel > .panel-body > .group > .header .icon-right {
  display: none;
}
.lv-left-nav-search .panel > .panel-body > .group > .body {
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.lv-left-nav-search .panel > .panel-body > .group.hide-body > .header .icon-down {
  display: none;
}
.lv-left-nav-search .panel > .panel-body > .group.hide-body > .header .icon-right {
  display: block;
}
.lv-left-nav-search .panel > .panel-body > .group.hide-body > .body {
  padding-bottom: 0;
  border-bottom: 1px solid #ddd;
}
.lv-left-nav-search .panel > .panel-body > .group.hide-body > .body > * {
  display: none;
}
.lv-left-nav-search .panel > .panel-body > .group:last-child > .body,
.lv-left-nav-search .panel > .panel-body > .group.hide-body:last-child > .body {
  padding-bottom: 15px;
  border-bottom: 0;
}
.lv-left-nav-search .modal-content {
  overflow-y: scroll;
}
.lv-left-nav-search .modal-content .modal-header {
  background: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px;
  /*line-height: 20px;*/
}
@media only screen and (min-width: 1024px) {
  .close {
    display: none;
  }
  .lv-display-none-lg {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .item-icon-save {
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .item-icon-save {
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
  }
}
.lv-paginator {
  height: 70px;
  text-align: center;
}
.lv-paginator a {
  margin: 0 3px;
  height: 35px;
  width: 35px;
  line-height: 35px;
  padding: 0;
  border-radius: 0 !important;
  font-size: 16px !important;
}
.lv-paginator .active a {
  background: #00b9f2 !important;
  border: transparent;
}
.debug {
  border: 1px solid red;
}
.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.radio label .relative {
  color: #00b9f2;
}
.radio label a:hover {
  text-decoration: none;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #ddd;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #777;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.3s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type=radio] {
  opacity: 0;
  z-index: 1;
}
.radio input[type=radio]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type=radio]:disabled + label {
  opacity: 0.65;
}
.radio input[type=radio]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}
.radio-primary input[type=radio] + label::after {
  background-color: #f7941d;
}
.radio-primary input[type=radio]:checked + label::before {
  border-color: #f7941d;
}
.radio-primary input[type=radio]:checked + label::after {
  background-color: #f7941d;
}
.radio-danger input[type=radio] + label::after {
  background-color: #ef474f;
}
.radio-danger input[type=radio]:checked + label::before {
  border-color: #ef474f;
}
.radio-danger input[type=radio]:checked + label::after {
  background-color: #ef474f;
}
.radio-info input[type=radio] + label::after {
  background-color: #00b9f2;
}
.radio-info input[type=radio]:checked + label::before {
  border-color: #00b9f2;
}
.radio-info input[type=radio]:checked + label::after {
  background-color: #00b9f2;
}
.radio-warning input[type=radio] + label::after {
  background-color: #f0ad4e;
}
.radio-warning input[type=radio]:checked + label::before {
  border-color: #f0ad4e;
}
.radio-warning input[type=radio]:checked + label::after {
  background-color: #f0ad4e;
}
.radio-success input[type=radio] + label::after {
  background-color: #5cb85c;
}
.radio-success input[type=radio]:checked + label::before {
  border-color: #5cb85c;
}
.radio-success input[type=radio]:checked + label::after {
  background-color: #5cb85c;
}
.radio-success input[type=file] {
  display: inline;
  width: 0;
  opacity: 0;
}
input[type=checkbox].styled:checked + label:after,
input[type=radio].styled:checked + label:after {
  font-family: FontAwesome;
  content: "\f00c";
}
input[type=checkbox] .styled:checked + label::before,
input[type=radio] .styled:checked + label::before {
  color: #fff;
}
input[type=checkbox] .styled:checked + label::after,
input[type=radio] .styled:checked + label::after {
  color: #fff;
}