/*input[type=checkbox]
{
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}*/
.lv-background-gray {
  background: #eee;
}
.lv-background-white {
  background: #fff;
}
.lv-checkbox-custom input[type="checkbox"] {
  display: none;
}
.lv-checkbox-custom span {
  cursor: pointer;
}
.lv-checkbox-custom label {
  font-weight: 100;
}
.lv-checkbox-custom input[type="checkbox"] + label span.check {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -3px 5px 0 0;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}
.lv-checkbox-custom input[type="checkbox"]:checked + label span.check {
  border: 2px solid #00b9f2;
  background: #faa916;
}
@media (min-width: 768px) {
  .sm-col-padding {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
@media (max-width: 767px) {
  .sm-col-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.lv-horizontal-navbar {
  margin-bottom: 0;
  height: 60px;
  border: none;
  border-bottom: 1px #e5e5e5 solid;
  border-radius: 0;
  background: #fff;
}
.lv-horizontal-navbar .navbar-container {
  margin: 0;
  padding: 0 5px;
}
.lv-horizontal-navbar .navbar-container .navbar-logo {
  height: 60px;
  float: left;
  position: relative;
}
.lv-horizontal-navbar .navbar-container .navbar-logo .img-logo {
  height: 60px;
  position: absolute;
  margin: 0 60px 0 20px;
}
.lv-horizontal-navbar .navbar-container .navbar-logo .img-logo > img {
  margin: 10px 0;
}
.lv-horizontal-navbar .navbar-container .navbar-logo .img-tablet-logo {
  height: 60px;
  position: absolute;
  padding: 0 15px;
  border-right: 1px solid #F5F5F5;
}
.lv-horizontal-navbar .navbar-container .navbar-logo .img-tablet-logo > img {
  margin: 12px 0 8px 0;
  height: 40px;
}
.lv-horizontal-navbar .navbar-container .navbar-menu-right {
  float: right !important;
  margin-right: -5px;
}
.lv-horizontal-navbar .navbar-container .navbar-menu-right .button-search {
  padding-right: 20px;
  border-right: 1px #ccc solid;
  display: inline-block;
  color: #00b9f2;
  padding: 0 15px;
  margin: 11px 15px 11px 0;
}
.lv-horizontal-navbar .navbar-container .navbar-menu-right > li:not(.employer-site) > a:hover,
.lv-horizontal-navbar .navbar-container .navbar-menu-right > li:not(.employer-site) > a:focus {
  background: #fff !important;
}
.lv-horizontal-navbar .navbar-container .navbar-menu-tablet-right {
  float: right !important;
  height: 60px;
  margin: 0;
}
.lv-horizontal-navbar .navbar-container .navbar-menu-tablet-right > li {
  float: right;
}
.lv-horizontal-navbar .navbar-container .navbar-menu-tablet-right > li > a:hover,
.lv-horizontal-navbar .navbar-container .navbar-menu-tablet-right > li > a:focus {
  background: #fff !important;
}
.lv-horizontal-navbar .navbar-container .navbar-menu-tablet-right .button-tablet {
  padding-right: 20px;
  display: inline-block;
  color: #6f6f6f;
  padding: 0 15px;
  margin: 11px 0;
  border: 0 !important;
}
.lv-horizontal-navbar .navbar-container .navbar-menu-tablet-right .button-tablet:hover {
  border: 0 !important;
  color: #e38008;
  -webkit-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  transition: color 300ms linear;
}
.lv-horizontal-navbar .navbar-container .navbar-menu-tablet-right .button-tablet:focus {
  border: 0 !important;
}
.lv-horizontal-navbar .navbar-container .glyphicon {
  margin-top: 5px;
  font-size: 21px;
}
.lv-horizontal-navbar .navbar-nav > li:not(.employer-site) {
  height: 60px;
}
.lv-horizontal-navbar .navbar-nav > li:not(.employer-site) > a {
  color: #888;
  line-height: 28px;
  font-size: 15px;
}
.lv-horizontal-navbar .navbar-nav > li:not(.employer-site) > a.lv-flag {
  margin: 10px;
  border-left: 1px solid #ccc;
  padding: 5px 5px 5px 25px;
}
.lv-horizontal-navbar .employer-site {
  height: 60px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.lv-horizontal-navbar .employer-site > a {
  height: 60px;
  padding: 10px 15px;
  line-height: 20px !important;
  background: #faa916;
  font-size: 14px;
}
.lv-horizontal-navbar .employer-site > a > strong {
  color: #fff;
  text-transform: uppercase;
}
.lv-horizontal-navbar .employer-site > a > span {
  color: #00648f;
  font-size: 13px;
}
.lv-horizontal-navbar .employer-site > a:hover,
.lv-horizontal-navbar .employer-site a:focus {
  background: #eda219 !important;
}
.lv-horizontal-navbar .lv-nation-flag {
  height: 15px;
  width: 25px;
  margin-top: 8px;
}
.lv-menu-top-tablet {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.lv-menu-top-tablet .modal-content {
  height: 100%;
  border-radius: 0;
}
.lv-menu-top-tablet .modal-content .modal-header button {
  font-size: 25px;
}
.lv-menu-top-tablet .modal-content .modal-body {
  padding: 0 !important;
}
.lv-menu-top-tablet .modal-content .modal-body ul {
  list-style: none !important;
  padding: 0;
}
.lv-menu-top-tablet .modal-content .modal-body ul li:not(.employer-site):not(.link-user) {
  height: 55px;
  padding: 15px 15px 15px 20px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 15px;
}
.lv-menu-top-tablet .modal-content .modal-body ul li:not(.employer-site):not(.link-user) a {
  color: #555;
}
.lv-menu-top-tablet .modal-content .modal-body ul li:not(.employer-site):not(.link-user) a span {
  padding-left: 10px;
}
.lv-menu-top-tablet .modal-content .modal-body ul li:not(.employer-site):not(.link-user) a:hover,
.lv-menu-top-tablet .modal-content .modal-body ul li:not(.employer-site):not(.link-user) a:focus {
  text-decoration: none;
  color: #e38008;
  -webkit-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  transition: color 300ms linear;
}
.lv-menu-top-tablet .modal-content .modal-body ul li.link-user {
  height: 100px;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 15px;
}
.lv-menu-top-tablet .modal-content .modal-body ul li.link-user > .user-fullname {
  clear: both;
  float: left;
  text-transform: uppercase;
}
.lv-menu-top-tablet .modal-content .modal-body ul li.link-user > a {
  padding: 0;
}
.lv-menu-top-tablet .modal-content .modal-body ul li.link-user > a > .view-user-info {
  float: left;
  clear: both;
  padding: 10px 20px;
  margin: 10px 0;
  background: #00b9f2;
  color: #fff;
  border-radius: 4px;
}
.lv-menu-top-tablet .modal-content .modal-body ul li.employer-site {
  height: 72px;
  -webkit-transition: background-color 0.3s !important;
  transition: background-color 0.3s !important;
}
.lv-menu-top-tablet .modal-content .modal-body ul li.employer-site > a {
  height: 72px;
  width: 100%;
  padding: 15px 15px 15px 60px;
  line-height: 20px !important;
  background: #faa916;
  font-size: 14px;
  position: absolute;
}
.lv-menu-top-tablet .modal-content .modal-body ul li.employer-site > a > strong {
  color: #fff;
}
.lv-menu-top-tablet .modal-content .modal-body ul li.employer-site > a > span {
  color: #00648f;
  font-size: 13px;
}
.lv-menu-top-tablet .modal-content .modal-body ul li.employer-site > a:hover {
  text-decoration: none;
  background: #eda219 !important;
}
.lv-dropdown-user {
  width: 300px;
  right: 0;
  left: auto;
  border: 1px solid #e0e0e0;
  border-radius: 0;
  font-size: 15px;
  padding: 0 !important;
}
.lv-dropdown-user .link-setting {
  height: 50px;
  padding: 0px 20px;
  line-height: 50px;
  border-top: 1px solid #f2f2f2;
}
.lv-dropdown-user .link-setting > i.fa {
  font-size: 20px;
}
.lv-dropdown-user .link-setting > span {
  padding-left: 10px;
}
.lv-dropdown-user .link-header {
  padding: 20px 10px;
}
.lv-dropdown-user .link-header > .user-fullname {
  clear: both;
  float: left;
  text-transform: uppercase;
}
.lv-dropdown-user .link-header > a {
  padding: 0;
}
.lv-dropdown-user .link-header > a > .view-user-info {
  float: left;
  clear: both;
  padding: 10px 20px;
  margin: 10px 0;
  background: #00b9f2;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  width: 100%;
}