<!DOCTYPE html>
<html>
<head>
    <title>page-caption:(Đăng nhập)</title>
    <render>../commons/header.html</render>
    <link href="{{Config.RootUrl}}Templates/default/resources/css/candidate_login.min.css" rel="stylesheet" />
    <script src="{{Config.RootUrl}}Scripts/toastr.min.js"></script>
    <link href="{{Config.RootUrl}}Content/toastr.min.css" rel="stylesheet" />
   
   
</head>

<body>
    <render>../commons/navbar.html</render>
    <render>../commons/login.html</render>
       
</body>
</html>
