<html ng-app="app">
<head>
    <render>../commons/header.html</render>
    <script src="{{Config.RootUrl}}Scripts/toastr.js"></script>
    <link href="{{Config.RootUrl}}Content/toastr.min.css" rel="stylesheet" />
    <title>page-caption:(Đặt lại mật khẩu)</title>
</head>
<body ng-controller="app" ng-cloak>
    <render>../commons/navbar.html</render>
    <div class="container" id="main" style="max-width:600px" ng-if="(!EmailWasNotFound)&&(!isSuccess)">
        <section>
            <h3>res:(Đặt lại mật khẩu)</h3>
        </section>
        <section>
            
            <form role="form" >
               
                <div class="form-group row">
                    <label class="col-sm-3 control-label" for="form-group-input">res:(Email)</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="form-group-input" placeholder="res:(Nhập vào Email của bạn)" name="email" ng-model="data.email">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 control-label" for="form-group-input">res:(Mã nhận dạng)</label>
                    <div class="col-sm-9">
                        <div class="input-group" >
                           
                           <div >
                               <img ng-src="${captchaData}"  ng-click="getCaptcha()" style="height:40px;float:left" ng-if="captchaData" />
                           </div>
                            <span class="input-group-addon" style="border:none !important;background:none !important">
                                <button class="btn btn-default" ng-click="getCaptcha()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                            </span>
                        </div>
                       
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 control-label" for="form-group-input">res:(Nhập vào mã nhận dạng)</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="form-group-input" placeholder="res:(Nhập vào mã nhận dạng)"  ng-model="data.Captcha">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <div class="btn-toolbar pull-right" role="toolbar" aria-label="Toolbar with button groups">
                           
                            <div class="btn-group" role="group" aria-label="Third group">
                                <button class="btn btn-primary" ng-click="doResetPassword()">res:(Nhận email)</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </form>
        </section>
    </div>
    <div class="container" ng-if="EmailWasNotFound">
        <h1>res:(Thao tác không thành công)</h1>
        <p style="font-size:20pt;line-height:32pt">
            res:(Thật đáng tiếc địa chỉ Email vừa rồi không tìm thấy, hãy thử lại một trong các cách sau):
        </p>
        <ol>
            <li><a href="{{{Config.RootUrl}}}account/login">res:(Đăng nhập bằng tài khoản khác)</a></li>
            <li><a href="{{{Config.RootUrl}}}account/register">res:(Đăng nhập ký tài khoản mới)</a></li>
            <li><a href="javascript:void(0)" ng-click="doReset()">res:(Thử lại lần nữa)</a></li>
        </ol>
    </div>
    <div class="container" ng-if="isSuccess">
        
        <p style="font-size:20pt;line-height:32pt">
            res:(Một email hỗ trợ bạn đặt lại mật khẩu đã được gởi. Để đặt lại mật khẩu, hãy kiểm tra email và làm theo các bước hướng dẫn trong nội dung)
        </p>
        
    </div>
    <script server>
        [
            "./../libs/lv.utils",
            "./../modules/lv.model",
            "./../modules/node.Email",
            "./../modules/resource",
            (utils, models, EMAIL, resource, page) => {
                page.doResetPassword = (event) => {
                    utils._try(() => {
                        try {
                            var lang = utils.getCurrentLanguageCode(event);
                            var clientData = utils.readData(event);
                            if (utils.isNull(clientData.email)) {
                                utils.writeData(event, { EmailIsEmpty: true });
                                event.done();
                                return;
                            }
                            if (!utils.isEmail(clientData.email)) {
                                utils.writeData(event, { InvalidEmail: true });
                                event.done();
                                return;
                            }
                            if (utils.isNull(clientData.captcha)) {
                                utils.writeData(event, { CaptchaIsEmpty: true });
                                event.done();
                                return;
                            }
                            var captchaContent = resource.getCaptchaContent(event.req);
                            if (clientData.captcha != captchaContent) {
                                utils.writeData(event, { InvalidCaptcha: true });
                                event.done();
                                return;
                            }
                            var user = models.sys_Users()
                                .where("Email==email", clientData)
                                .toItem.sync();
                            if (user == null) {
                                utils.writeData(event, { EmailWasNotFound: true });
                                event.done();
                                return;
                            }
                            var activeToken = utils.newGuid();
                            var dataSendMail = {
                                Email: user.Email,
                                FirstName: user.FirstName,
                                LastName: user.LastName,
                                Token: activeToken,
                                RootUrl: utils.getRootUrl(event.req),
                                ResetPasswordLink: utils.getRootUrl(event.req) + "account/reset_password/" + activeToken,
                                CreatedOn: new Date()
                            };

                            models.sys_activation()
                                .insert({
                                    Type: "AccountResetPassword",
                                    Token: activeToken,
                                    Email: user.Email.toLowerCase()
                                })
                                .commit.sync();

                            var schema = utils.getSchema(dataSendMail);
                            var Subject = "v/v đặt lại mật khẩu";
                            var Body = "Thân chào bạn {{FirstName}}&nbsb;{{LastName}},<br/>" +
                                "Bạn hoặc một ai đó đã sử dụng Email này để đặt lại mật khẩu tại website {{RootUrl}} vào lúc {{CreatedOn}}.<br/>" +
                                "Để đặt lại mật khẩu xin hãy bấm vào <a href=\"{{ResetPasswordLink}}\">{{ResetPasswordLink}}<a>," +
                                "hoặc sao chép nội dung {{ResetPasswordLink}} dán vào thanh địa chỉ của trình duyệt và làm theo hướng dẫn.<br/>" +
                                "Chân thành cảm ơn bạn đã đăng ký sử dụng dịch vụ";
                            var ret = EMAIL.getTemplate.sync(null, "AccountResetPassword", lang, Subject, Body, schema, "Template email Đặt lại mật khẩu");
                            var ret = EMAIL.sendEmail.sync(null, user.Email, ret.Subject, ret.Body, null, dataSendMail);
                            utils.writeData(event, { isSuccess: true });
                            event.done();
                        }
                        catch (ex) {
                            event.done(ex);
                        }

                    }, event);
                };
                page.getCaptcha = (event) => {
                    utils._try(() => {
                        try {
                            resource.captcha(event);
                        }
                        catch (ex) {
                            event.done(ex);
                        }
                    }, event);
                };
        }]
    </script>
  
    <script>
        ng_app([], function (scope) {
            scope.data = {};
            scope.doResetPassword = function () {
                var a = "server.page://doResetPassword";
                console.log(scope.data.email)
                a.data({ email: scope.data.email, captcha: scope.data.Captcha })
                    .done(function (res) {
                        
                        if (res.isSuccess) {
                            scope.isSuccess = true;
                            scope.$apply();
                        }
                        else {
                            if (res.EmailIsEmpty) {
                                toastr.error("res:(Xin nhập vào địa chỉ Email)");
                                return;
                            }
                            if (res.InvalidEmail) {
                                toastr.error("res:(Địa chỉ Email không đúng)");
                                return;
                            }
                            if (res.CaptchaIsEmpty) {
                                toastr.error("res:(Xin nhập vào mã nhận dạng)");
                                return;
                            }
                            if (res.InvalidCaptcha) {
                                toastr.error("res:(Mã nhận dạng không đúng)");
                                return;
                            }
                            if (res.EmailWasNotFound) {
                                scope.EmailWasNotFound = true;
                                scope.$apply();
                            }
                            else {
                                
                            }
                        }
                    })
            }
            scope.doReset = function () {
                scope.EmailWasNotFound = false;
                scope.email = "";

            };
            scope.getCaptcha = function () {
                var a = "server.page://getCaptcha";
                a.done(function (res) {
                    scope.captchaData = res.data;
                    
                    scope.$applyAsync();
                });
            };
            scope.getCaptcha();
        })
    </script>
</body>
</html>