<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>page-caption(Đăng ký bằng tài khoản LinkedIn)</title>
    <render>../commons/header.html</render>
    <script src="{{Config.RootUrl}}Scripts/toastr.min.js"></script>
    <link href="{{Config.RootUrl}}Content/toastr.min.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <script type="text/javascript" src="//platform.linkedin.com/in.js">
        api_key: {{ data.clientID }}
        onLoad:    linkedin_load
        authorize: false
        lang:      en_US
    </script>
</head>
<body ng-controller="app" ng-cloak>
    <script server>
        ["./../modules/node.sys.content_manage",
        "./../libs/lv.utils",
        "./../modules/lv.model",
        "./../modules/node.Email",
            (content, utils, models, EMAIL, app) => {
                app.onLoad = (event) => {
                    content.getSocialNetworkLinkInfo((err, info) => {
                        if (err) {
                            utils.writeError(event.res);
                            event.done();
                        }
                        else {
                            event.setModel("data.clientID", info.linkedIn_client_id);
                            event.done();
                        }
                    });
                },
                    app.doRegist = (event) => {
                        var res = {
                            apiError: {
                                errorType: undefined
                            }
                        };
                        utils._try(() => {
                            try {
                                var lang = event.req.currentLanguageCode;
                                var clientData = utils.readData(event);
                                var count = models.sys_Users()
                                    .where("(Email==Email)or" +
                                    "(LinkToGoogle.Email == Email)or" +
                                    "(LinkToFaceBook.Email == Email)or" +
                                    "(LinkToLinkedIn.Email == Email)or" +
                                    "(LinkToTwitter.Email == Email)", clientData)
                                    .count.sync();
                                if (count > 0) {
                                    res.apiError.errorType = "ExistingAccount";
                                    utils.writeData(event, res);
                                    event.done();
                                    return;
                                }
                               var hasPassword = utils.sha("uid=" + clientData.Email.toLowerCase() + ";pwd=" + utils.newGuid());
                            var FirstName = "";
                            var LastName = "";
                            var Email = clientData.Email;
                            if (!utils.isNull(clientData.Name)) {
                                if (clientData.Name.indexOf(" ") > -1) {
                                    FirstName = clientData.Name.split(' ')[0];
                                    LastName = clientData.Name.substring(FirstName.length, clientData.Name.length);
                                }
                                else {
                                    FirstName = clientData.Name;
                                }
                            }
                                var retUser = models.sys_Users()
                                    .insert({
                                        FirstName: FirstName,
                                        LastName: LastName,
                                        UserId: utils.newGuid(),
                                        UserName: Email,
                                        UsernameLowerCase: Email.toLowerCase(),
                                        Email: Email.toLowerCase(),
                                        LoginCount: 0,
                                        ChangedPasswordCount: 0,
                                        LastestChangePassword: null,
                                        LoginFailCount: 0,
                                        LatestLoginTime: null,
                                        Password: hasPassword,
                                        LinkToLinkedIn: {
                                            Email: clientData.Email,
                                            ID: clientData.ID
                                        }, Settings: {
                                            DefaultDateFormat: "dd/MM/yyyy",
                                            DefaultLanguage: "vn",
                                            DefaultCurrency: {
                                                Code: "VNĐ"
                                            }
                                        }
                                    })
                                    .commit.sync();

                                var activeToken = utils.newGuid();
                                models.sys_activation()
                                    .insert({
                                        Type: "AccountActivation",
                                        Token: activeToken,
                                        Email: Email.toLowerCase()
                                    })
                                    .commit.sync();
                                var dataEmail = {
                                    FirstName: FirstName,
                                    LastName: LastName,
                                    Rooturl: utils.getRootUrl(event.reg),
                                    Token: activeToken,
                                    ActivationLink: utils.getRootUrl(event.reg) + "account/active/" + activeToken,
                                    RegisteredOn: new Date()
                                }
                                var schema = utils.getSchema(dataEmail);
                                var Subject = "v/v kích hoạt tài khoản";
                                var Body = "Thân chào bạn {{FirstName}}&nbsb;{{LastName}},<br/>" +
                                    "Bạn vừa đăng ký sử dụng dịch vụ tìm việc tại website {{RootUrl}} vào lúc {{RegisteredOn}}.<br/>" +
                                    "Để kích hoạt tài khoản sử dụng xin hãy bấm vào <a href=\"{{ActivationLink}}\">{{ActivationLink}}<a>," +
                                    "hoặc sao chép nội dung {{ActivationLink}} dán vào thanh địa chỉ của trình duyệt và làm theo hướng dẫn.<br/>" +
                                    "Chân thành cảm ơn bạn đã đăng ký sử dụng dịch vụ";
                                var ret = EMAIL.getTemplate.sync(null, "AccountActivation", lang, Subject, Body, schema, "Template email báo active");
                                var ret = EMAIL.sendEmail.sync(null, Email, ret.Subject, ret.Body, null, dataEmail);
                                utils.writeData(event, {});
                                event.done();
                            }
                            catch (ex) {

                                event.done(ex);
                            }
                        }, event);
                    };
            }]
    </script>
    <render>../commons/navbar.html</render>
    <section>
        <div class="container" style="max-width:600px;font-size:24pt">
            <div id="message" ng-if="state==0">
                <h4 class="section-heading">res:(Xin đợi trong giây lát. Chúng tôi đang tiến hành đăng ký quyền sử dụng của bạn bằng tài khoản LinkedIn)</h4>
            </div>
            <div id="message_success" ng-if="state==1">
                <h4 class="section-heading">res:(Bạn đã đăng ký thành công. Tuy nhiên, để bảo đảm rằng bạn là người thực sự sở hữu tài khoản LinkedIn này. Hãy kiểm tra lại Email và làm theo hướng dẫn để kích hoạt tài khoản sử dụng)</h4>
            </div>
            <div id="error" ng-if="state==2">
                <h1 class="section-heading">res:(Đăng ký không thành công)</h1>
                <label class="control-label">res:(Thật đáng tiếc tài khoản này đã được sử dụng bởi một người khác, hãy thử lại một trong các cách sau:)</label>

                <ol>
                    <li>res:(Thoát khỏi LinkedIn và đăng nhập lại, sau đó tiến hành đăng ký lại.)</li>
                    <li><a href="{{Config.RootUrl}}account/login">res:(Đăng nhập lại)</a></li>
                    <li><a href="{{Config.RootUrl}}account/passwordrecovery">res:(Hoặc đặt lại mật khẩu)</a></li>
                </ol>
            </div>
            <div id="error" ng-if="state==1000">
                <h2>res:(Bạn đã đăng ký thành công hãy kiểm tra lại email và làm theo hướng dẫn để kích hoạt tài khoản)</h2>
            </div>
        </div>
    </section>
    <form role="form">

        <input type="hidden" name="linkedin" />

        <button type="submit" style="display:none"></button>
        <div>
            <script type="in/Login">
            </script>
        </div>
    </form>
    <script>
        $(document).ready(function () {
            
            function run(){
                if($(".IN-widget").length==0){
                    setTimeout(run,100);
                }
                else {
                    $($(".IN-widget").find("span[id]")[0]).trigger("click")
                }
            }
            run();

        })

        function linkedin_load(sender) {
            IN.Event.on(IN, "auth", getProfileData);
        }
        // Handle the successful return from the API call
        function onSuccess(data) {
            console.log(data);
            window.app.doRegist(data);
            //$("[name='linkedin']").val(JSON.stringify(data));
            //$("form[name='frm_login']").find("button[type='submit']").trigger("click");
            
        }

        // Handle an error response from the API call
        function onError(error) {
            console.log(error);
        }

        // Use the API call wrapper to request the member's basic profile data
        function getProfileData() {
            IN.API.Profile("me").fields("first-name", "last-name", "email-address", "id").result(function (data) {
                //{ "_total":1, "values":[{ "_key": "~", "emailAddress": "nttlong@lacviet.com.vn", "firstName": "Long", "id": "eJoYa0wOHC", "lastName": "Nguyen Tran The" }] }
                var postData = {
                    Email: data.values[0].emailAddress,
                    ID: data.values[0].id,
                    Name: data.values[0].FirstName + " " + data.values[0].LastName

                };
                window.app.doRegist(postData);
                //$("[name='linkedin']").val(JSON.stringify(data));
                //$("form[name='frm_login']").find("button[type='submit']").trigger("click");
            }).error(function (data) {
                
            });
        }
    </script>
    <script>
        ng_app([], function (scope) {
            scope.state = 0;
            scope.doRegist = function (data) {
                var aPost = "server.page://doRegist";
                aPost.data(data)
                    .done(function (res) {
                        console.log(res);
                        if (res.apiError) {
                            if (res.apiError.errorType === "ExistingAccount") {
                                scope.state = 2;
                                scope.$applyAsync();
                            }
                            else {
                                scope.state = 1;
                                scope.$applyAsync();
                                if (window.location.href.indexOf("?retUrl") > -1) {

                                    var retUrl = window.location.href.split("?retUrl=")[1];
                                    setTimeout(function () {
                                        window.location.href = "{{Config.RootUrl}}" + retUrl.replace("~/", "");
                                    }, 5000);
                                }
                                else {
                                    setTimeout(function () {
                                        window.location.href = "{{Config.RootUrl}}";
                                    }, 5000);
                                }
                            }
                        }
                        else {
                            scope.state = 1000;
                            scope.$applyAsync();
                        }
                    })
            };
            window.app = scope;
            scope.$applyAsync();
        });
    </script>
</body>
</html>
