
<html ng-app="app">
<head>
    <render>../commons/header.html</render>

</head>
<body ng-controller="app" ng-cloak>
    <render>../commons/navbar.html</render>

    {{#if message.ActivationWasNotFound}}
    <div class="container" style="max-width:600px">
        <p style="font-size:20pt">
            res:(Thật đáng tiếc! yêu cầu này không hợp lệ hoặc đã quá hạn, hãy thử một trong các cách sau):
        </p>
        <ol>
            <li>
                <a href="{{{Config.RootUrl}}}account/passwordrecovery">res:(Gởi lại yêu cầu đặt lại mật khẩu)</a>

            </li>
            <li>
                <a href="{{{Config.RootUrl}}}account/register">res:(Đăng ký mới một tài khoản)</a>

            </li>
            <li>
                <a href="{{{Config.RootUrl}}}account/login">res:(Thử đăng nhập lại)</a>
            </li>
        </ol>
    </div>
    {{/if}}
    {{#user}}
    <div class="container" id="main" style="max-width:600px" ng-if="!resetPasswordIsSucess">
        <!--onload="store:(st_load_reset_password)"-->
        <section>
            <h3>res:(Đặt lại mật khẩu)</h3>
        </section>
        <section>
            <form role="form">
                <div class="form-group row">
                    <label class="col-sm-4 control-label" for="form-group-input">res:(Mật khẩu)</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="form-group-input" placeholder="res:(Nhập mật khẩu)" ng-model="data.Password">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 control-label" for="form-group-input">res:(Xác nhận lại mật khẩu)</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="form-group-input" placeholder="res:(Nhập lại mật khẩu)" ng-model="data.ConfirmPassword">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <div class="btn-toolbar pull-right" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group" role="group" aria-label="Third group">
                                <button type="button" class="btn btn-primary" ng-click="doResetPassword()">res:(Đặt lại mật khẩu)</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div class="container" style="max-width:600px" ng-if="resetPasswordIsSucess">
        res:(Mật khẩu của bạn đã đặt lại thành công)
    </div>
    {{/user}}
    <script server>
        [
            "./../libs/lv.utils",
            "./../modules/lv.model",
            (utils, models, page) => {
                page.onLoad = (event) => {
                    utils._try(() => {
                        try {
                            var token = event.req.routeInfo.params.token;
                            var activationItem = models.sys_activation()
                                .where("(Token==token)and(IsActived==null)", { token: token })
                                .toItem.sync();
                            if (activationItem == null) {
                                event.setModel("message.ActivationWasNotFound", true);
                                event.done();
                                return;
                            }
                            var user = models.sys_Users()
                                .where("Email==Email", activationItem)
                                .toItem.sync();
                            if (user == null) {
                                event.setModel("message.ActivationWasNotFound", true);
                                event.done();
                                return;
                            }
                            event.setModel("user", user);
                            event.setModel("token", token);
                            event.done();
                            return;
                        }
                        catch (ex) {
                            event.done(ex);
                        }
                    }, event);
                };
                page.doResetPassword = (event) => {
                    utils._try(() => {
                        try {
                            var retError = {
                                apiError: {
                                    errorType: ""
                                }
                            }
                            var clientData = utils.readData(event);
                            if (utils.isNull(clientData.Password)) {
                                retError.apiError.errorType = "PasswordIsEmpty";
                                utils.writeData(event, retError);
                                event.done();
                                return;
                            }
                            if (clientData.Password !== clientData.ConfirmPassword) {
                                retError.apiError.errorType = "PasswordDiffConfirmPassword";
                                utils.writeData(event, retError);
                                event.done();
                                return;
                            }
                            var activationItem = models.sys_activation()
                                .where("(Token==token)", clientData)
                                .toItem.sync();
                            var hasPassword = utils.sha("uid=" + activationItem.Email.toLowerCase() + ";pwd=" + clientData.Password);
                            models.sys_Users()
                                .where("Email==Email", activationItem)
                                .set("Password", hasPassword)
                                .commit.sync();
                            models.sys_activation()
                                .where("(Token==token)", clientData)
                                .set("IsActived", true)
                                .commit.sync();
                            utils.writeData(event, {});
                            event.done();
                        }
                        catch (ex) {
                            event.done(ex);
                        }
                       

                    }, event);
                }
            }]
    </script>
    <script>
        ng_app([], function (scope) {
            scope.data = {
                token:"{{{token}}}"
            }
            scope.doResetPassword = function () {
                var a = "server.page://doResetPassword";
                a.data(scope.data)
                    .done(function (res) {
                        if (res.apiError) {
                            if (res.apiError.errorType === "PasswordIsEmpty") {
                                toastr.error("res:(Xin nhập vào mật khẩu)")
                            }
                            if (res.apiError.errorType === "PasswordDiffConfirmPassword") {
                                toastr.error("res:(Mật khẩu và xác nhận mật khẩu không giống nhau)")
                            }
                        }
                        else {
                            scope.resetPasswordIsSucess = true;
                            scope.$apply();
                        }
                    });
            }
        });
    </script>
</body>
</html>