<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>page-caption:(Đăng nhập bằng tài khoản Twitter)</title>
    <render>../commons/header.html</render>
    <script src="{{Config.RootUrl}}Scripts/toastr.min.js"></script>
    <link href="{{Config.RootUrl}}Content/toastr.min.css" rel="stylesheet" />
    <script src="{{Config.RootUrl}}Scripts/codebird.js"></script>
    <meta charset="utf-8" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
</head>
<body ng-controller="app" ng-cloak>

    

    <div class="container-fluid" style="max-width:800px;font-size:24pt">
        <div>
            <script type="in/Login">
            </script>
        </div>
        <div ng-if="status==0">
            <h3>
                res:(Đang kiểm tra tài khoản của bạn)
            </h3>
        </div>
        <div ng-if="status==-1">
            <h3>
                res:(Thật đáng tiếc chúng tôi không tìm thấy tài khoản của bạn trong hệ thống)
            </h3>
            <section>
                <p>
                    res:(Hãy thử lại 1 trong các cách sau):
                </p>
                <p>
                    <ol>
                        <li>res:(Thoát khỏi Twitter và đăng nhập lại)</li>
                        <li><a href="{{Config.RootUrl}}account/reg_by_twitter"> res:(Đăng ký sử dụng bằng Twitter)</a></li>
                        <li><a href="{{Config.RootUrl}}account/login">res:(Đăng nhập bằng Email và Password)</a></li>
                    </ol>
                </p>
            </section>
        </div>
        <div ng-if="status==1">
            <h3>
                res:(Đăng nhập thành công)
            </h3>
        </div>
    </div>
    
    <script server>
        ["./../libs/lv.utils",
        "fs",
        "./../modules/node.sys.account",
        (utils, FS, account, page) => {
            page.onLoad = (event) => {
                utils._try(() => {
                    try {

                        var txtContent = FS.readFile.sync(null, "./app_data/config/social.json", "utf-8");
                        var data = Function("return " + txtContent)();
                        var twitter_client_id = data.twitter_client_id;
                        var consumer_key = twitter_client_id.split(',')[0];
                        var consumer_secret = twitter_client_id.split(',')[1];
                        event.setModel("twitter.consumer_key", consumer_key);
                        event.setModel("twitter.consumer_secret", consumer_secret);
                        event.done();


                    } catch (e) {
                        event.done(e);
                    }
                }, event);
            };
            page.doSignIn = (event) => {
                
                var clientData = utils.readData(event);
                account.loginByTwitter(event.req, clientData.data, (err, ret) => {
                    if (err) event.done(err);
                    else {
                        if (ret != null) {
                            if (!ret.apiError) {
                                if ((!clientData.retUrl) || (clientData.retUrl == null)) {
                                    utils.writeData(event, {
                                        action: {
                                            redirect: utils.getRootUrl(event.req),
                                            refresh: false
                                        }
                                    });

                                }
                                else {
                                    utils.writeData(event, {
                                        action: {
                                            redirect: clientData.retUrl,
                                            refresh: false
                                        }
                                    });
                                }
                                event.done();
                            }
                            else {
                                utils.writeData(event, ret);
                                event.done();
                            }
                        }
                        else {
                            utils.writeData(event, {
                                errorForm: {
                                    errorType: "loginFail"
                                }
                            });
                            event.done();
                        }

                    }
                });
            };
        }]
    </script>
        
    <script>
        ajax_call_set_url("{{Config.RootUrl}}/api_process")


    </script>
    <script>
        ng_app([], function (scope) {
            scope.status = 0;
            scope.data = {
                apiError: undefined
            };
            scope.doLogin = function (_data) {

                var retUrl
                if (window.location.href.indexOf("retUrl=") > -1) {
                    retUrl = window.location.href.split("retUrl=")[1].split('&')[0];
                   
                }
                var ajax = "server.page://doSignIn";
                ajax.data({ data: _data, retUrl: retUrl })
                    .done(function (res) {
                        console.log(res);
                        if (res.apiError) {
                            scope.status = -1;
                            scope.$applyAsync();
                            return
                        }
                        else {
                            scope.data = res;
                            scope.status = 1;
                            scope.$applyAsync();
                            setTimeout(function () {
                                if (res.action && res.action.redirect) {
                                   
                                    window.location.href = unescape(decodeURIComponent(res.action.redirect));
                                }
                            }, 500);

                        }
                    });
            };
            window.app = scope;
        });

    </script>
    <script>
        if (window.location.href.indexOf("?redirect=") > -1) {
            var url = unescape(decodeURIComponent(window.location.href.split("?redirect=")[1].split("&")[0]));
            var r = window.location.href.substring(window.location.href.indexOf("&oauth_token="), window.location.href.length);
            window.location.href = url + "?x=1" + r;
            


        }
        else {
            if (window.location.href.indexOf('?') == -1) {
                window.location.href = window.location.href + "?retUrl=" + encodeURIComponent(escape("{{{Config.RootUrl}}}"));

            }
            var cb = new Codebird();
            cb.setConsumerKey("{{{twitter.consumer_key}}}", "{{{twitter.consumer_secret}}}");
            if ((window.location.href.indexOf("&s=") == -1)) {
                cb.__call(
                    "oauth_requestToken", {
                        oauth_callback: window.location.href
                    }, function (res) {
                        var data = {
                            t: res.oauth_token,
                            s: res.oauth_token_secret
                        }
                        
                        window.location.href = window.location.href + "&t=" + data.t + "&s=" + data.s;


                    }, );
            }
            else {

                if (window.location.href.indexOf("&oauth_verifier=") == -1) {
                    var t = window.location.href.split("t=")[1].split('&')[0];
                    var s = window.location.href.split("s=")[1].split('&')[0];

                    cb.setToken(t, s);
                    cb.__call(
                        "oauth_authorize", {
                            oauth_token: window.location.href.split('t=')[1].split('&')[0]
                        }, function (res) {

                            window.location.href = res + "&t=" + t + "&s=" + s;
                        });
                }
                else {
                    var t = window.location.href.split("t=")[1].split('&')[0];
                    var s = window.location.href.split("s=")[1].split('&')[0];
                    var token = window.location.href.split("&oauth_token=")[1].split('&')[0];
                    var v_token = window.location.href.split("&oauth_verifier=")[1].split('&')[0].split('?')[0];
                    cb.setToken(token, s);
                    cb.__call("oauth_accessToken", {
                        oauth_verifier: v_token
                    }, function (res) {

                        cb.setToken(res.oauth_token, res.oauth_token_secret);
                        cb.__call('account_verifyCredentials', {
                            include_email: true,
                            include_entities: false,
                            skip_status: true
                        }, function (res) {
                            window.app.doLogin({
                                email: res.email,
                                UserId: res.id
                            })
                        });
                    })
                    //debugger;

                }
            }

        }

    </script>

</body>
</html>
