
<footer class="lv-main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 hidden-sm hidden-xs">
                <p class="title">Về Lạc Việt SureHCS</p>
                <ul class="list-unstyled">
                    <li>
                        <a href="http://www.surehcs.com.vn/index.php/vi/" target="_blank" title="Về Lạc Việt SureHCS">res:(Về Lạc Việt SureHCS)</a>
                    </li>
                    <!--<li>
                        <a href="{{Config.RootUrl}}contact" title="res:(Liên Hệ)">res:(Liên Hệ)</a>
                    </li>-->
                    <!--<li>
                        <a href="#" title="res:(Góc Báo Chí)">res:(Góc Báo Chí)</a>
                    </li>-->
                    <!--<li>
                        <a href="#" title="res:(Hỏi Đáp)">res:(Hỏi Đáp)</a>
                    </li>-->
                    <li>
                        <a href="#" title="res:(Thỏa Thuận Sử Dụng)">Thỏa Thuận Sử Dụng</a>
                    </li>
                    <li>
                        <a href="#" title="res:(Quy Định Bảo Mật)">Quy Định Bảo Mật</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 hidden-sm hidden-xs">
                <p class="title">Công Cụ</p>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{Config.RootUrl}}candidate/my-account" title="res:(Tài khoản)">res:(Tài Khoản)</a>
                    </li>
                    <li>
                        <a href="{{Config.RootUrl}}candidate/myresume" title="res:(Hồ sơ của tôi)">res:(Hồ Sơ Của Tôi)</a>
                    </li>
                    <li>
                        <a href="{{Config.RootUrl}}candidate/myapply" title="res:(Việc làm của tôi)">res:(Việc Làm Của Tôi)</a>
                    </li>
                    <!--<li>
                        <a href="#" title="Thông báo việc làm">Thông Báo Việc Làm</a>
                    </li>-->
                    <!--<li>
                        <a href="{{Config.RootUrl}}feedback" title="res:(Phản hồi)">res:(Phản Hồi)</a>
                    </li>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <hr class="desktop-xs" />
        <div class="copyright">
            <p class="text-muted text-center">
                Copyright © Công Ty Cổ Phần Tin Học Lạc Việt <br> Địa Chỉ: 23 Nguyễn Thị Huỳnh, P.8, Q.Phú Nhuận, TP.Hồ Chí Minh
            </p>
        </div>
    </div>
</footer>
<div class="lv-button-go-top">
    <div class="go-top">
        <a href="#top">
            <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
        </a>
    </div>
</div>