<script src="{{Config.RootUrl}}script/jquery-1.10.2.js"></script>
<script src="{{Config.RootUrl}}script/angular.min.js"></script>
<script src="{{Config.RootUrl}}script/bootstrap.min.js"></script>
<script src="{{Config.RootUrl}}script/ajax_call.js"></script>
<script src="{{Config.RootUrl}}script/ngDirectives.js"></script>
<link href="{{Config.RootUrl}}content/css/bootstrap.min.css" rel="stylesheet" />
<link href="{{Config.RootUrl}}content/css/bootstrap-theme.min.css" rel="stylesheet" />
<link href="{{Config.RootUrl}}content/css/main.css" rel="stylesheet" />
<script>
    ajax_call_set_url("{{Config.RootUrl}}/api_process")
</script>