<div class="container-fluid">
	<form role="form" title="res:(Tải hồ sơ lên)">
		<div class="form-group">
			<label class="control-label" for="exampleInputEmail">res:(Mật khẩu cũ) <span style="color: red">*</span></label>
			<input type="password" class="form-control" id="exampleInputEmail" placeholder="res:(Nhập vào Mật khẩu cũ)" ng-model="data.PasswordOld">
		</div>
		<div class="form-group">
			<label class="control-label" for="exampleInputEmail">res:(Mật khẩu mới) <span style="color: red">*</span></label>
			<input type="password" class="form-control" id="exampleInputEmail" placeholder="res:(Nhập vào Mật khẩu mới)" ng-model="data.Password">
		</div>
		<div class="form-group">
			<label class="control-label" for="exampleInputEmail">res:(Xác nhận lại mật khẩu mới) <span style="color: red">*</span></label>
			<input type="password" class="form-control" id="exampleInputEmail" placeholder="res:(Xác nhận lại Mật khẩu mới)" ng-model="data.ConfirmPassword">
		</div>

	</form>
    <div class="btn-toolbar pull-right" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
            <button type="button" class="btn btn-default" ng-click="doChangePassword()">res:(Thay đổi mật khẩu)</button>
            
        </div>
        <div class="btn-group" role="group" aria-label="Second group">
            <button type="button" class="btn btn-default" ng-click="$doClose()">res:(Đóng)</button>
        
        </div>
        
    </div>
    <script>
        (function (scope) {
            scope.data = {};
            scope.doChangePassword = function () {
                toastrError = function (error, model) {
                    toastr.error(error);
                    $("[ng-model='" + model + "']").focus(
                        function () {
                            $(this).css({ "border-color": "red" })
                        }
                    );
                    $("[ng-model='" + model + "']").blur(
                        function () {
                            $(this).css({ "border-color": "#ccc" })
                        }
                    );
                    $("[ng-model='" + model + "']").trigger("click");
                    $("[ng-model='" + model + "']").select();
                }
                var ajax = "server.api://(nodejs)modules/node.sys.account@doChangePassword";
                ajax.data(scope.data)
                    .done(function (res) {
						if (res.apiError) {
							if (res.apiError.errorType == "PasswordOldIsNotEqual") {
								toastrError("res:(Nhập sai mật khẩu cũ)", "data." + res.apiError.field);
								return;
							}
							if (res.apiError.errorType == "PasswordOldAndPasswordIsNotEqual") {
								toastrError("res:(Mật khẩu cũ phải khác mật khẩu mới)", "data." + res.apiError.field);
								return;
							}
							if (res.apiError.errorType == "PasswordOldIsEmpty") {
								toastrError("res:(Xin nhập mật khẩu cũ)", "data." + res.apiError.field);
								return;
							}
                            if (res.apiError.errorType == "PasswordIsEmpty") {
                                toastrError("res:(Xin nhập mật khẩu)", "data." + res.apiError.field);
                                return;
                            }
                            if (res.apiError.errorType == "ConfirmPasswordIsEmpty") {
                                toastrError("res:(Xin nhập lại mật khẩu)", "data." + res.apiError.field);
                                return;
                            }
                            if (res.apiError.errorType == "PasswordAndConfirmPasswordIsNotEqual") {
                                toastr.error("res:(Mật khẩu và xác nhận mật khẩu không giống nhau)")
                            }
                        }
                        else {
							toastr.success("res:(Đã thay đổi mật khẩu)");
							scope.$doClose();
                        }
                    })
            }
        })
    </script>
</div>