<!DOCTYPE html>
<html>
<head>
    <title>page-caption:(My Resume)</title>
    <meta charset="utf-8" />
    <render>../commons/header.html</render>
    <link href="{{Config.RootUrl}}Templates/default/resources/css/candidate_jobopen.min.css" rel="stylesheet" />
</head>
<body>
    <render>../commons/navbar.html</render>
    <div class="wrapper">
        <section class="container myresume-content">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <div class="header_left">
                        <div class="col-md-12 item_header_left">
                            <div class="col-sm-3 col-md-3 item_header_left_l">
                                Lọc theo: 
                            </div>
                            <div class="col-sm-3 col-md-3 item_header_left_r">
                                <select class="form-control">
                                    <option>2017</option>
                                    <option>2016</option>
                                </select>
                            </div>
                            <div class="col-sm-4 col-md-4 item_header_left_r">
                                <select class="form-control">
                                    <option>Đăng tuyển</option>
                                    <option>Đăng tuyển</option>
                                </select>
                            </div>
                            <div class="col-sm-2 col-md-2 item_header_left_r">
                                <a href="#" class="btn btn-default">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!--///-->
                    <div class="body_left">
                        <div class="col-md-12 item_left">
                            <div class="box_item_left">
                                <div class="header_box_item_left">
                                    Sales Manager
                                </div>
                                <div class="body_box_item_left">
                                    <p>IT - Phần mền, Bán hàng, Bán hàng kĩ thuật</p>
                                    <p class="body_box_item_left_slut">50 ứng tuyển</p>
                                    <p><span>340 lượt xem | Hết hạn trong 17 ngày</span></p>
                                </div>
                            </div>
                        </div>

                        <!--///-->

                        <div class="col-md-12 item_left">
                            <div class="box_item_left">
                                <div class="header_box_item_left">
                                    Sales Manager
                                </div>
                                <div class="body_box_item_left">
                                    <p>IT - Phần mền, Bán hàng, Bán hàng kĩ thuật</p>
                                    <p class="body_box_item_left_slut">50 ứng tuyển</p>
                                    <p><span>340 lượt xem | Hết hạn trong 17 ngày</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="footer_left item_left">
                        <div >
                            <div class="pagination">
                                <a href="#">1</a>
                                <a href="#" class="active">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#">6</a>
                                <a href="#">&raquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8">
                    <div class="header_right">
                        <div class="col-md-12" style="min-height: 60px;
                        border-radius: 4px;
                        background: white;
                        box-shadow: 0 1px 2px #ccc; margin-bottom: 10px;">
                            <div class="col-xs-12 col-sm-6 col-md-6 box_right_left tabbable-line">
                                <!--<span style="font-weight: bold">Mô tả công việc</span> | <span>Ứng viên</span>-->
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#tabMoTaCV" style="border-right: 1px solid #c1c1c1;">res:(Mô tả công việc)</a></li>
                                    <li><a data-toggle="tab" href="#tabUngVien">res:(Ứng viên)</a></li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 box_right_right">
                                <a href="#" class="btn btn-success">
                                    <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="btn btn-success">
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="btn btn-success">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="btn btn-success">
                                    <i class="fa fa-print" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!--///-->
                    <div class="body_right tab-content">
                        <div id="tabMoTaCV" class="tab-pane fade in active">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">res:(Chức danh)</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="focusedInput" type="text" placeholder="res:(Chức danh)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">res:(Cấp bậc)</label>
                                    <div class="col-sm-8">
                                        <select class="form-control">
                                            <option>Vui lòng chọn</option>
                                            <option>Nữ</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">res:(Ngành nghề)</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="focusedInput" type="text" placeholder="res:(Vui lòng chọn)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">res:(Nơi làm việc)</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="focusedInput" type="text" placeholder="res:(Vui lòng chọn)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">res:(Mô tả)</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" rows="5" placeholder="res:(Nhập mô tả công việc)"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">res:(Nhận Hồ Sơ Bằng Ngôn Ngữ)</label>
                                    <div class="col-sm-8">
                                        <select class="form-control">
                                            <option>Bất kì</option>
                                            <option>Nữ</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">res:(Người Liên Hệ)</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="focusedInput" type="text" placeholder="res:(HR Department)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">res:(Địa Chỉ Email Nhận Hồ Sơ)</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="focusedInput" type="text" placeholder="res:(tuyendung@lacviet.com.vn)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">res:(Thời gian nhận hồ sơ: )</label>
                                    <div class="col-sm-8">
                                        <label class="control-label">res:(Từ 01/07/2017 Đến 30/08/2017)</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">res:(Tạm dừng)</label>
                                    <div class="col-sm-8">
                                        <label class="control-label"><input type="checkbox" value=""></label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--///-->
                        <div id="tabUngVien" class="tab-pane fade tabuv">
                            <table class="table">
                                <thead class="thead-default">
                                    <tr>
                                        <th><input type="checkbox"/></th>
                                        <th></th>
                                        <th>res:(Ứng viên)</th>
                                        <th>res:(Công việc hiện tại)</th>
                                        <th>res:(Ngày ứng tuyển)</th>
                                        <th>res:(Thao tác)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"><input type="checkbox" /></th>
                                        <td>
                                            <img width="64" height="64" style="border-radius: 50%" src="http://znews-photo-td.zadn.vn/w480/Uploaded/Ngtmvs/2015_06_25/Minh_Tam_3_thumb.jpg" />
                                        </td>
                                        <td style="width: 30%" class="box_uv">
                                            <p><strong>AMIT ARORA</strong></p>
                                            <p>8 năm</p>
                                            <p><i class="fa fa-building" aria-hidden="true"></i> Asia Telecom & Media Corp VietNam</p>
                                            <p><i class="fa fa-graduation-cap" aria-hidden="true"></i> Cử nhân</p>
                                        </td>
                                        <td>Sales</td>
                                        <td>13-07-2017</td>
                                        <td>
                                            <button type="button" class="btn btn-default btn-sm">
                                                <i class="fa fa-download" aria-hidden="true"></i>
                                            </button>
                                            <button type="button" class="btn btn-default btn-sm">
                                                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                            </button>
                                            <button type="button" class="btn btn-default btn-sm">
                                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><input type="checkbox" /></th>
                                        <td>
                                            <img width="64" height="64" style="border-radius: 50%" src="http://znews-photo-td.zadn.vn/w480/Uploaded/Ngtmvs/2015_06_25/Minh_Tam_3_thumb.jpg" />
                                        </td>
                                        <td style="width: 30%" class="box_uv">
                                            <p><strong>AMIT ARORA</strong></p>
                                            <p>8 năm</p>
                                            <p><i class="fa fa-building" aria-hidden="true"></i> Asia Telecom & Media Corp VietNam</p>
                                            <p><i class="fa fa-graduation-cap" aria-hidden="true"></i> Cử nhân</p>
                                        </td>
                                        <td>Sales</td>
                                        <td>13-07-2017</td>
                                        <td>
                                            <button type="button" class="btn btn-default btn-sm">
                                                <i class="fa fa-download" aria-hidden="true"></i>
                                            </button>
                                            <button type="button" class="btn btn-default btn-sm">
                                                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                            </button>
                                            <button type="button" class="btn btn-default btn-sm">
                                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
