<!DOCTYPE html>
<html>
<head>
    <title>page-caption:(My Resume)</title>
    <meta charset="utf-8" />
    <render>../commons/header.html</render>
    <link href="{{Config.RootUrl}}Templates/default/resources/css/candidate_mainui_employer.min.css" rel="stylesheet" />
    <link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <render>../commons/navbar.html</render>
    <div class="wrapper">
        <section class="container myresume-content">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8">
                    <div class="header_left">
                        <div class="col-md-12 item_header_left">
                            <span class="col-xs-12 col-sm-10 col-md-10">Việc làm đang hiển thị: <span style="color: #f7941d; font-weight: bold;">8</span> đăng tuyển</span>
                            <div class="col-xs-12 col-sm-2 col-md-2 box_left_right">
                                <a href="#" class="btn btn-success">
                                    <span class="glyphicon glyphicon-filter"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!--///-->
                    <div class="body_left row">
                        <div class="col-md-6">
                            <div class="box_item_left item_left">
                                <div class="header_box_item_left">
                                    Sales Manager
                                </div>
                                <div class="body_box_item_left">
                                    <p>IT - Phần mền, Bán hàng, Bán hàng kĩ thuật</p>
                                    <p class="body_box_item_left_slut">50 ứng tuyển</p>
                                    <p><span>340 lượt xem | Hết hạn trong 17 ngày</span></p>
                                </div>
                            </div>
                        </div>

                        <!--///-->

                        <div class="col-md-6">
                            <div class="box_item_left item_left">
                                <div class="header_box_item_left">
                                    Sales Manager
                                </div>
                                <div class="body_box_item_left">
                                    <p>IT - Phần mền, Bán hàng, Bán hàng kĩ thuật</p>
                                    <p class="body_box_item_left_slut">50 ứng tuyển</p>
                                    <p><span>340 lượt xem | Hết hạn trong 17 ngày</span></p>
                                </div>
                            </div>
                        </div>

                        <!--///-->

                        <div class="col-md-6">
                            <div class="box_item_left item_left">
                                <div class="header_box_item_left">
                                    Sales Manager
                                </div>
                                <div class="body_box_item_left">
                                    <p>IT - Phần mền, Bán hàng, Bán hàng kĩ thuật</p>
                                    <p class="body_box_item_left_slut">50 ứng tuyển</p>
                                    <p><span>340 lượt xem | Hết hạn trong 17 ngày</span></p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="footer_left item_left">
                        <div>
                            <div class="pagination">
                                <a href="#">1</a>
                                <a href="#" class="active">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#">6</a>
                                <a href="#">&raquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <div class="header_right">
                        <div class="row">
                            <div class="col-md-12" style="padding-left: 0px;
                        margin-bottom: 10px;">
                                <div class="col-xs-12 col-sm-10 col-md-10 tabbable-line">
                                    <span style="font-size: 23px;">res:(Việc làm trong năm): 2017</span>
                                </div>
                                <div class="col-xs-12 col-sm-2 col-md-2 box_right_right">
                                    <a href="#" class="btn btn-success">
                                        <span class="glyphicon glyphicon-filter"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="body_right">
                        <div class="gray-bg">
                            <table class="table">
                                <tbody>
                                    <tr>

                                        <td>
                                            <a href="#" class="link-gray">
                                                <button type="button" class="btn btn-info btn-fw-m m-r-sm">
                                                    &nbsp;8&nbsp;
                                                </button>
                                                res:(Việc làm đã đăng)
                                            </a>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="link-gray">
                                                <button type="button" class="btn btn-default btn-fw-m m-r-sm">
                                                    &nbsp;0&nbsp;
                                                </button>
                                                res:(Hết hạn trong 7 ngày tới)
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="link-gray">
                                                <button type="button" class="btn btn-default btn-fw-m m-r-sm">
                                                    &nbsp;2&nbsp;
                                                </button>
                                                res:(Hết hạn sau 7 ngày tới)
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="link-gray">
                                                <button type="button" class="btn btn-default btn-fw-m m-r-sm">
                                                    &nbsp;0&nbsp;
                                                </button>
                                                res:(Hết hạn tuyển dụng)
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="link-gray">
                                                <button type="button" class="btn btn-default btn-fw-m m-r-sm">
                                                    &nbsp;0&nbsp;
                                                </button>
                                                res:(Tạm ngừng nhận hồ sơ)
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#" class="link-gray">
                                                <button type="button" class="btn btn-default btn-fw-m m-r-sm">
                                                    &nbsp;0&nbsp;
                                                </button>
                                                res:(Lưu nháp)
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
