<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div>
        <form role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="form-group-input">res:(Code)</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="form-group-input" placeholder="res:(Code)" v-model="data.Code">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="form-group-input">res:(Name)</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="form-group-input" placeholder="res:(Name)" v-model="data.Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="form-group-input">res:(Description)</label>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control" id="form-group-input" placeholder="res:(Description)" v-model="data.Description"></textarea>
                </div>
            </div>
        </form>
        
        <div class="row">
            <div class="col-sm-12">
                <input type="button" value="res:(Save)" v-on:click="doSaveData" class="btn btn-primary pull-right" />
                <input type="button" value="res:(Delete)" v-on:click="doDeleteData" class="btn btn-default pull-right" />
            </div>
        </div>
    </div>
    <script>
        (app=> {
            app.data = {};
            window.getText = (obj) => {
                if (obj["$oid"]) return obj["$oid"];
                else return obj;
            }
            app.items = [];

            app.doLoadData = () => {
                var ajax = "ajax.store.st_admin_category_load_item";
                if ($history.data().id) {
                    ajax.data({
                        id: $history.data().id,
                        language: window.currentLanguage,
                        category:$history.data().category
                    }).done(res=> {
                        console.log(res);
                        app.data = res;
                    });
                }
                else {
                    app.data = {};
                }
            };
            app.doSaveData = () => {
                var ajax = "ajax.store.st_admin_category_save_item";
                if (!app.data.Provinces) {
                    app.data.Provinces = [];
                }
                ajax.data({
                    id: $history.data().id,
                    language: window.currentLanguage,
                    data: app.data,
                    category: $history.data().category
                }).done(res=> {
                    window.location.href = "#view=categories&category=" + $history.data().category;
                });
            };
            app.doDeleteData = () => {
                if (confirm("res:(Do you want to delete this record?)")) {
                    var ajax = "ajax.store.st_admin_category_delete_item";
                    ajax.data({
                        id: $history.data().id,
                        language: window.currentLanguage,
                        data: app.data,
                        category: $history.data().category
                    }).done(res=> {
                        window.location.href = "#view=categories&category=" + $history.data().category;
                    });
                }
            }
            app.doLoadData();
        });

    </script>
</body>
</html>
