<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div>
        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th>
                        res:(Code)
                    </th>
                    <th>
                        res:(Name)
                    </th>
                    <th>
                        res:(Province)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in items">
                    <td>
                        ${item.Code}
                    </td>
                    <td>
                        <a v-bind:href="'#view=job&id='+item.Code">
                            ${ getName(item.Name)}
                        </a>

                    </td>
                    <td>
                        <a v-bind:href="'#view=job-detail&id='+item._id">
                            res:(Jobs)(${item.TotalJobs})
                        </a>

                    </td>
                    <td>
                        <a v-bind:href="'#view=job-item&id='+$history.data().id+'&code='+item.Code" class="btn btn-primary">
                            res:(Edit)
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-12">
                <a v-bind:href="'#view=location'" class="btn btn-primary pull-right">
                    res:(Add)
                </a>
            </div>
        </div>
    </div>

    <script>
        (app=> {
            window.getText = (obj) => {
                if (obj["$oid"]) return obj["$oid"];
                else return obj;
            }
            app.items = [];
            var ajax = "ajax.store.st_admin_load_jobs_details";
            app.doLoadData = () => {
                ajax.data({id:$history.data().id}).done(res=> {

                    app.items = res.items;
                });
            }
            app.doLoadData();
        });

    </script>
</body>
</html>
