<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div>
        
        <div class="panel panel-default">
            <div class="panel-heading">res:(List of main page banners)</div>
            <div class="panel-body">
                <table class="admin-table">
                    <thead>
                        <tr>
                            <th>
                                res:(Image)
                            </th>
                            <th>
                                res:(Name)
                            </th>
                            <th>
                                res:(Type)
                            </th>
                            <th>
                                res:(IsActive)
                            </th>
                            <th>
                                res:(Ordinal)
                            </th>
                            <th class="text-center">
                               
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in items">
                            <td style="width: 138px;">
                                <img width="128" height="60" ng-src="{{{Config.RootUrl}}}/photo/banner/${item._id}.png" />
                            </td>
                            <td>
                                ${item.Name}
                            </td>
                            <td>
                                ${item.Type}
                            </td>
                            <td>
                                ${item.IsActive}
                            </td>
                            <td>
                                ${item.Ordinal}
                            </td>
                            <td style="width: 280px;">
                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group" role="group" aria-label="First group">
                                        <button class="btn btn-primary" ng-click="doEdit(item)">
                                            res:(Edit)
                                        </button>
                                    </div>
                                    <div class="btn-group" role="group" aria-label="Second group">
                                        <button href="javascript:void(0)" class="btn btn-default" ng-click="doDeleteData(item._id)">
                                            res:(Delete)
                                        </button>
                                    </div>

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn-toolbar pull-right" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group" role="group" aria-label="First group">
                                <button type="button" class="btn btn-primary" ng-click="doAddNew()">
                                    res:(Add new banner)
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        


    </div>
    <script server>
        ["../libs/lv.utils",
            "./../modules/lv.db",
            "./../modules/lv.model",
            (utils,Data,models,app) => {
                app.doLoadData = (event) => {
                    utils._try(() => {
                        var list = models.sys_banner_images()
                            .select({ _id: 1 })
                            .toArray.sync();
                        utils.writeData(event, list);
                        event.done();
                       
                    }, event);
                };
                app.doDeleteData = (event) => {
                    utils._try(() => {
                        var clientData = utils.readData(event);
                        var ret=models.sys_banner_images()
                            .where("_id==id", { id: utils.objectID(clientData.id) })
                            .delete().commit.sync();
                        utils.writeData(event, {});
                        event.done();

                    }, event)
                }
        }]
    </script>
    <script>
        (app => {
           
            app.items = [];
            var ajax = "server.page://doLoadData";
            app.doLoadData = () => {
                ajax.done(res=> {
                    app.items = res;
                    app.$applyAsync();
                });
            }
            app.doDeleteData = (imgId) => {
                if (confirm("res:(Do you want to delete this record?)") == true) {
                    var ajax = "server.page://doDeleteData";
                    ajax.data({
                        id: imgId
                    }).done(res=> {
                        window.toastr.success("res:(Delete banner is sucessfull)","res:(Message)");
                        app.doLoadData();
                    });
                }
            }
            app.doEdit = function (item) {
                app.currentEditItem = item;
                dialog(app).url("sys-banner-image").done()
            }
            app.doAddNew = function () {
                app.currentEditItem = undefined;
                dialog(app).url("sys-banner-image").done()
            }
            app.doLoadData();
        });
    </script>
</body>
</html>
